{%TEMPLATE->struct/head%}
{%TEMPLATE->struct/menu%}
<h2>Add new Preprocessor</h2>
{%TEMPLATE->struct/messages%}
<form action='preprocessors.php' method='post'>
	<input type='hidden' name='action' value='[[$DPreprocessorAction::ADD_PREPROCESSOR]]'>
	<input type="hidden" name="csrf" value="[[csrf]]">
	<div class="card">
    <div class="table-responsive">
      <table class="table table-bordered">
			  <tr>
				  <td>Name:</td>
				  <td>
					  <input type="text" class="form-control" name="name">
				  </td>
			  </tr>
				<tr>
					<td>Binary Basename:</td>
					<td>
						<input type="text" class="form-control" name="binaryName">
					</td>
				</tr>
				<tr>
					<td>Download URL:</td>
					<td>
						<input type="text" class="form-control" name="url">
					</td>
				</tr>
				<tr>
					<td rowspan="3">Commands (set to empty if not available)</td>
					<td>
						<input type="text" class="form-control" name="keyspaceCommand" value="--keyspace" placeholder="Measure Keyspace">
					</td>
				</tr>
				<tr>
					<td>
						<input type="text" class="form-control" name="skipCommand" value="--skip" placeholder="Skip Keyspace">
					</td>
				</tr>
				<tr>
					<td>
						<input type="text" class="form-control" name="limitCommand" value="--limit" placeholder="Limit Keyspace">
					</td>
				</tr>
			  <tr>
				  <td colspan="2" class="text-center">
					  <input type="submit" class='btn btn-success' value="Add">
				  </td>
			  </tr>
		  </table>
    </div>
	</div>
</form>
{%TEMPLATE->struct/foot%}
