/.buildpath
/.project
/.settings/
query.log
.idea/
*.iml
src/files/*
!src/files/.htaccess
/ci/db-backups/
.vs/
*.phpproj
*.sln
*.phpproj.user
*.lock
vendor/
/ci/apiv2/behat-guzzle-cookie-data.json

# for docker stuff
.env

# for Angular stuff
dist/
node_modules/
.angular