/.buildpath
/.project
/.settings/
query.log
.idea/
*.iml
src/files/*
!src/files/.htaccess
/ci/db-backups/
.vs/
*.phpproj
*.sln
*.phpproj.user
*.lock

# dynamically created by installer
src/install/.htaccess

# for docker stuff
.env

# for composer stuff
vendor

# For python cache files
__pycache__
.pytest_cache
