MYSQL_ROOT_PASS=hashtopolis
MYSQL_DATABASE=hashtopolis
MYSQL_USER=hashtopolis
MYSQL_PASSWORD=hashtopolis

HASHTOPOLIS_ADMIN_USER=admin
HASHTOPOLIS_ADMIN_PASSWORD=hashtopolis
HASHTOPOLIS_DB_HOST=db

HASHTOPOLIS_APIV2_ENABLE=0
HASHTOPOLIS_BACKEND_URL=http://localhost:8080/api/v2

HASHTOPOLIS_SSMTP_ENABLE=0
HASHTOPOLIS_SSMTP_ROOT=hashtopolis@example.org
HASHTOPOLIS_SSMTP_MAILHUB=example.org:465
HASHTOPOLIS_SSMTP_HOSTNAME=hashtopolis.example.org
HASHTOPOLIS_SSMTP_USE_TLS=Yes
HASHTOPOLIS_SSMTP_USE_STARTTLS=No
HASHTOPOLIS_SSMTP_AUTH_USER=username
HASHTOPOLIS_SSMTP_AUTH_PASS=password