POSTGRES_DATABASE=hashtopolis
POSTGRES_USER=hashtopolis
POSTGRES_PASSWORD=hashtopolis

HASHTOPOLIS_ADMIN_USER=admin
HASHTOPOLIS_ADMIN_PASSWORD=hashtopolis
HASHTOPOLIS_DB_HOST=db

HASHTOPOLIS_APIV2_ENABLE=0
HASHTOPOLIS_BACKEND_URL=http://localhost:8080/api/v2
HASHTOPOLIS_FRONTEND_URLS=http://127.0.0.1:4200,http://localhost:4200,http://127.0.0.1:8080,http://localhost:8080,https://127.0.0.1,https://localhost
