# Example jwks file for the keys that are needed for Open ID Connect
{
  "keys": [
    {
      "kid": "3VcAf_wFO6KQz4RiKowja6IW35QJ40RkXSBgkgcfTfw",
      "kty": "RSA",
      "alg": "RS256",
      "use": "sig",
      "n": "qvuxqeloNtBwAwIOlfu48bd9-VnELl2D0DdGfUGKh_0_5gFgbXiGytGG11a_IC6qqlmmIWU4xuy-2Q2uytrQAkrZMTPmsT88ZrT84HCMUlxgqU5QWUPRGmlwGDuuPNXyeYDPbEtX9du8PQb6DNuu2kWMLmm_xjYwQzIzMPxR49xsR9h0N-wMHwc-fmSgkR02Io96I1NkQX3DHCuVvPFBp5cUhfb5lXwHGe1cdx3D4koA0y0NJ1EsOjfuMDv4AUtZFqqUKDEbg-ADoYA4HtfHOjcciMYXkEbb5FejlVCsppF_HMWuFtNqF6_V0FOfKvmNnJ0WzUD9NR6BJ_VqDxGNGQ",
      "e": "AQAB",
      "x5c": [
        "MIICmzCCAYMCBgGbjmGlkjANBgkqhkiG9w0BAQsFADARMQ8wDQYDVQQDDAZtYXN0ZXIwHhcNMjYwMTA1MTMzNzAyWhcNMzYwMTA1MTMzODQyWjARMQ8wDQYDVQQDDAZtYXN0ZXIwggEiMA0GCSqGSIb3DQEBAQUAA4IBDwAwggEKAoIBAQCq+7Gp6Wg20HADAg6V+7jxt335WcQuXYPQN0Z9QYqH/T/mAWBteIbK0YbXVr8gLqqqWaYhZTjG7L7ZDa7K2tACStkxM+axPzxmtPzgcIxSXGCpTlBZQ9EaaXAYO6481fJ5gM9sS1f127w9BvoM267aRYwuab/GNjBDMjMw/FHj3GxH2HQ37AwfBz5+ZKCRHTYij3ojU2RBfcMcK5W88UGnlxSF9vmVfAcZ7Vx3HcPiSgDTLQ0nUSw6N+4wO/gBS1kWqpQoMRuD4AOhgDge18c6NxyIxheQRtvkV6OVUKymkX8cxa4W02oXr9XQU58q+Y2cnRbNQP01HoEn9WoPEY0ZAgMBAAEwDQYJKoZIhvcNAQELBQADggEBABLaxd6HGIbKKd3hU56XbQHMcwbFTpPtL/P56JBUhcCVG1sCoLSE4csVW0o9Si1toKqh8hAtWDYA0/tm/IEjkwt3TcXdWjA/XoKGDbkz508aLDM2ni2CXq1p3wXwesCiGhkblg+liiNPyb2wU9RpmYRKkn16Qsb2qEw6AS1uaph0/+XLAPWENr5/pjJOgXQqok2VIOiAcrsnayE6zPDFQ2d2uYAKLOKNFgUKZ7K92DGH+qD8IheV8F6Wjs7cea7LZcgq0dlV85lmIQ8dZyQunL2QwGewIGVSShvT97vivk/xS86Zf9qQcaANAuvff/g1lCdxg2bFr8PewOXp3zQlqdU="
      ],
      "x5t": "e0BNs1RTbxcrnk9Rnjs1n4pxcuY",
      "x5t#S256": "wCTM8mdXANWTaYDj3w5cRm0yD5ybINNlULtxpAuA7gw"
    },
    {
      "kid": "UzDpZMBnNvfqtOmhny4gqZdjQLGWYuy2gAN3Wk_hm4Y",
      "kty": "RSA",
      "alg": "RSA-OAEP",
      "use": "enc",
      "n": "xGHOeXyy6B8_V1BsELJb5XWHfWJHS4w45oxvYbT--Dl6miixwrRizOCnpGz81JIPJZ_Dg-qGi372tQo10xegeg71h7GRMeCcGDA7QN7PXSLnwphkBQvV_uBzYnxDm98ZRLsBmyMnLRCEPdVxJX1_nxaqCk3-KbZxLVuEJM-AAMPlA0TcC5ZIB8pSWeYA_DhGswRb_t67GMEyXHKzNAvA_Bhc7E-FZ-C66WLH5e0bv47W2KSzCtJZNpRHGb-CdeJYzg7rR4M9PzGnCmtc1YEocWsgqHJ0lDO3Sl1g4XtIW84UPi2wBEvoBgQuT2UPhni9TqVd62yJ1F8F_MC4ZEIgpw",
      "e": "AQAB",
      "x5c": [
        "MIICmzCCAYMCBgGbjmGl7DANBgkqhkiG9w0BAQsFADARMQ8wDQYDVQQDDAZtYXN0ZXIwHhcNMjYwMTA1MTMzNzAyWhcNMzYwMTA1MTMzODQyWjARMQ8wDQYDVQQDDAZtYXN0ZXIwggEiMA0GCSqGSIb3DQEBAQUAA4IBDwAwggEKAoIBAQDEYc55fLLoHz9XUGwQslvldYd9YkdLjDjmjG9htP74OXqaKLHCtGLM4KekbPzUkg8ln8OD6oaLfva1CjXTF6B6DvWHsZEx4JwYMDtA3s9dIufCmGQFC9X+4HNifEOb3xlEuwGbIyctEIQ91XElfX+fFqoKTf4ptnEtW4Qkz4AAw+UDRNwLlkgHylJZ5gD8OEazBFv+3rsYwTJccrM0C8D8GFzsT4Vn4LrpYsfl7Ru/jtbYpLMK0lk2lEcZv4J14ljODutHgz0/MacKa1zVgShxayCocnSUM7dKXWDhe0hbzhQ+LbAES+gGBC5PZQ+GeL1OpV3rbInUXwX8wLhkQiCnAgMBAAEwDQYJKoZIhvcNAQELBQADggEBAMLa57gi0EgnVStdw6JGbjOYURhto8Gfahs/STDrpkmkMuvAh0bRzwi8yiJs75jX7ykBFNrAslsdnohMicXyjrHaMNbMwPeip9/XMISS7kR5sDqyz1AA+s28oyWAB9HWu5ntiD93LlJj+UU4qZ5+SpmKzRDs2MMhL8aWozuOwABGI4VrfvFRJL8O3J6ewxUeCikpEfB9UWkE+B+N/q8Wsn92n76z8UhqsdLOJVp1LwIuwOIcK9oCFZnSwfiGXSfK4e2QfxF6hWVAEdkQaKXsNZmxrqWE9CxdQp6ouOGaqiplzWUBDuWptNoaM57tLNo0jl0d6C1XPFUlzO9TfQHilEU="
      ],
      "x5t": "HlsH_q2fqXiyZrxi4iWlbXoO51w",
      "x5t#S256": "ByDXBjBIXVPzmIEts-GeqhlxhMQL1S2tM-8npsv2-jo"
    }
  ]
}