parameters:
    paths:
        - src/inc/apiv2
        - ci/phpunit
    level: 4
    treatPhpDocTypesAsCertain: false 
    scanDirectories:
        - src/dba
        - src/inc
    excludePaths:
        # Exclude the DBA tests due PHPStan doing weird complaints
        - ci/phpunit/dba/AbstractModelFactoryTest.php