parameters:
    paths:
        - src/inc/apiv2
        - src/dba
        - src/inc
        - ci/phpunit
    level: 4
    treatPhpDocTypesAsCertain: false
    excludePaths:
        # this is deprecated/legacy and will not be touched until remove
        - src/inc/Auth_Yubico.php
        - src/inc/Login.php