{%TEMPLATE->struct/head%}
{%TEMPLATE->struct/menu%}
<h2>Task details</h2>
{%TEMPLATE->struct/messages%}
{%TEMPLATE->tasks/autorefresh%}
<div class="panel panel-default">
  <table class="table table-bordered table-nonfluid">
    <tr>
      <th>Property</th>
      <th>Value</th>
    </tr>
    <tr>
      <td>ID:</td>
      <td><code>[[task.getVal('id')]]</code></td>
    </tr>
    <tr>
      <td>Name:</td>
      <td>
        {{IF [[login.getLevel()]] >= 20}}
          <form class='form-inline' action="tasks.php?id=[[task.getVal('id')]]" method="POST">
            <input type="hidden" name="action" value="taskrename">
            <input type="hidden" name="task" value="[[task.getVal('id')]]">
            <input type="text" class='form-control' name="name" size="25" value="[[task.getVal('name')]]">
            <input type="submit" class='btn btn-default' value="Change">
          </form>
        {{ELSE}}
          [[task.getVal('name')]]
        {{ENDIF}}
      </td>
    </tr>
    <tr>
      <td>Attack command:</td>
      <td>
        <pre>[[htmlentities([[task.getVal('attackcmd')]], false, "UTF-8")]]</pre>
      </td>
    </tr>
    <tr>
      <td>Chunk size:</td>
      <td>
        {{IF [[login.getLevel()]] >= 20}}
          <form class='form-inline' action="tasks.php?id=[[task.getVal('id')]]" method="POST">
            <input type="hidden" name="action" value="taskchunk">
            <input type="hidden" name="task" value="[[task.getVal('id')]]">
            <input type="text" class='form-control' name="chunktime" size="5" value="[[task.getVal('chunktime')]]">
            seconds
            <input type="submit" class='btn btn-default' value="Set">
          </form>
        {{ELSE}}
          [[task.getVal('chunktime')]] seconds
        {{ENDIF}}
      </td>
    </tr>
    <tr>
      <td>Benchmark:</td>
      <td>
        <form id="taskauto" action="tasks.php?id=[[task.getVal('id')]]" method="POST">
          <input type="hidden" name="action" value="taskauto">
          <input type="hidden" name="task" value="[[task.getVal('id')]]">
          <input type="checkbox" name="auto" value="1" {{IF [[task.getVal('autoadjust')]] == 1}} checked{{ENDIF}}
            onChange="javascript:document.getElementById('taskauto').submit();"> Autoadjust by default
        </form>
      </td>
    </tr>
    <tr>
      <td>Color:</td>
      <td>
        <form class='form-inline' id="taskcolor" action="tasks.php?id=[[task.getVal('id')]]" method="POST">
          <input type="hidden" name="action" value="taskcolor">
          <input type="hidden" name="task" value="[[task.getVal('id')]]">
          #<input type="text" class='form-control color {required:false}' size="6" name="color" value="[[task.getVal('color')]]">
          {{IF [[login.getLevel()]] >= 20}}
            <input type="submit" class='btn btn-default' value="Set">
          {{ENDIF}}
        </form>
      </td>
    </tr>
    <tr>
      <td>Status timer:</td>
      <td>[[task.getVal('statustimer')]] seconds</td>
    </tr>
    <tr>
      <td>Priority:</td>
      <td>
        {{IF [[login.getLevel()]] >= 20}}
          <form class='form-inline' action="tasks.php?id=[[task.getVal('id')]]" method="POST">
            <input type="hidden" name="action" value="taskprio">
            <input type="hidden" name="task" value="[[task.getVal('id')]]">
            <input type="text" class='form-control' name="priority" size="4" value="[[task.getVal('priority')]]">
            <input type="submit" class='btn btn-default' value="Set">
          </form>
        {{ELSE}}
          [[task.getVal('priority')]]
        {{ENDIF}}
      </td>
    </tr>
    {{IF [[task.getVal('hashlist')]] != ""}}
      <tr>
        <td>Keyspace size:</td>
        <td>
          {{IF [[task.getVal('keyspace')]] > 0}}
            [[task.getVal('keyspace')]]
          {{ELSE}}
            N/A
          {{ENDIF}}
        </td>
      </tr>
      <tr>
        <td>Keyspace dispatched:</td>
        <td>
          [[task.getVal('progress')]] ([[Util::showperc([[task.getVal('progress')]], [[task.getVal('keyspace')]])]]%)
          {{IF [[task.getVal('active')]] == 0 && [[login.getLevel()]] >= 20}}
            <form class='form-inline' action="tasks.php?id=[[task.getVal('id')]]" method="POST" onSubmit="if (!confirm('Really completely purge task [[task.getVal('id')]]?')) return false;">
              <input type="hidden" name="action" value="taskpurge">
              <input type="hidden" name="task" value="[[task.getVal('id')]]">
              <input type="submit" class='btn btn-danger' value="Purge">
            </form>
          {{ENDIF}}
        </td>
      </tr>
      <tr>
        <td>Keyspace searched:</td>
        <td>
          {{IF [[task.getVal('keyspace')]] > 0}}
            [[task.getVal('cprogress')]] ([[Util::showperc([[task.getVal('cprogress')]], [[task.getVal('keyspace')]])]]%)
          {{ELSE}}
            N/A
          {{ENDIF}}
        </td>
      </tr>
      <tr>
        <td>Time spent:</td>
        <td>
          [[Util::sectotime([[task.getVal('soucet')]])]]
        </td>
      </tr>
      <tr>
        <td>Estimated time:</td>
        <td>[[Util::sectotime([[task.getVal('eta')]])]]</td>
      </tr>
      <tr>
        <td>Speed:</td>
        <td>[[Util::nicenum([[task.getVal('taskspeed')]], 100000, 1000)]]H/s</td>
      </tr>
      <tr>
        <td>
          {{IF [[task.getVal('format')]] == 3}}
            Superhashlist
          {{ELSE}}
            Hashlist
          {{ENDIF}}
        </td>
        <td>
          {{IF [[task.getVal('format')]] == 3}}
            <a href="superhashlists.php?id=[[task.getVal('hashlist')]]">[[task.getVal('hname')]]</a>
            ({{IF [[task.getVal('htypename')]] == ""}}
              [[task.getVal('htype')]]
            {{ENDIF}}
            {{IF [[task.getVal('htypename')]] !=""}}
              [[task.getVal('htypename')]]
            {{ENDIF}})
          {{ENDIF}}
          {{IF [[task.getVal('format')]] != 3}}
            <a href="hashlists.php?id=[[task.getVal('hashlist')]]">[[task.getVal('hname')]]</a>
            ({{IF [[task.getVal('htypename')]] == ""}}
              [[task.getVal('htype')]]
            {{ENDIF}}
            {{IF [[task.getVal('htypename')]] != ""}}
              [[task.getVal('htypename')]]
            {{ENDIF}})
          {{ENDIF}}
        </td>
      </tr>
    </table>
  </div>
  <div class="panel panel-default">
    <table class="table table-bordered table-nonfluid">
      <tr>
        <td>Visual representation</td>
      </tr>
      <tr>
        <td>
          <img class='img-responsive' style="height: 32px" src="taskimg.php?task=[[task.getVal('id')]]&x=1500&y=32">
        </td>
      </tr>
    {{ENDIF}}
  </table>
</div>
{{IF [[sizeof(%%attachFiles%%)]] > 0}}
  {{IF [[login.getLevel()]] >= 5}}
    <h3>Attached files</h3>
    <div class="panel panel-default">
      <table class="table table-bordered table-nonfluid">
        <tr>
          <th>ID</th>
          <th>Filename</th>
          <th>Size</th>
        </tr>
        {{FOREACH attach;[[attachFiles]]}}
          <tr>
            <td>[[attach.getVal('id')]]</td>
            <td>
              {{IF [[login.getLevel()]] >= 20}}
                <a href="files.php#[[attach.getVal('id')]]">[[attach.getVal('filename')]]</a>
              {{ELSE}}
                [[attach.getVal('filename')]]
              {{ENDIF}}
              {{IF [[attach.getVal('secret')]] == 1}}
                <img src="static/lock.gif" alt="Secret">
              {{ENDIF}}
            </td>
            <td class='num'>
              [[Util::nicenum([[attach.getVal('size')]])]]B
            </td>
          </tr>
        {{ENDFOREACH}}
      </table>
    </div>
  {{ENDIF}}
{{ENDIF}}
{{IF [[task.getVal('hashlist')]] != ""}}
  <h3>Assigned agents</h3>
  <div class="panel panel-default">
    <table class="table table-bordered table-nonfluid">
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Benchmark</th>
        <th>Speed</th>
        <th>Keyspace searched</th>
        <th>Time spent</th>
        <th>Cracked</th>
        <th>Last activity</th>
        <th>Action</th>
      </tr>
      {{FOREACH agent,!!agents!!}}
      <tr>
        <td>
          {{IF [[login.getLevel()]] >= 20}}
            <a href="agents.php?id=[[agent.getVal('id')]]">[[agent.getVal('id')]]</a>
          {{ELSE}}
            [[agent.getVal('id')]]
          {{ENDIF}}
        </td>
        <td>
          {{IF [[login.getLevel()]] >= 20}}
            <a href="agents.php?id=[[agent.getVal('id')]]">[[agent.getVal('name')]]</a>
          {{ELSE}}
            [[agent.getVal('name')]]
          {{ENDIF}}
          {{IF [[agent.getVal('trusted')]] == 1}}
            <img src="static/lock.gif" alt="Trusted">
          {{ENDIF}}
          {{IF [[agent.getVal('working')]] == 1}}
            <img src="static/active.gif" alt="Active">
          {{ENDIF}}
          {{IF [[agent.getVal('active')]] == 0}}
            <img src="static/pause.gif" alt="Paused">
          {{ENDIF}}
        </td>
        <td>
          {{IF [[login.getLevel()]] >= 20}}
            <form class='form-inline' action="tasks.php?id=[[task.getVal('id')]]" method="POST">
              <input type="hidden" name="action" value="agentbench">
              <input type="hidden" name="agent" value="[[agent.getVal('id')]]">
              <input type="text" class='form-control' name="bench" value="[[agent.getVal('benchmark')]]" size="8">
              <input type="submit" class='btn btn-default' value="Set">
            </form>
          {{ELSE}}
            [[agent.getVal('benchmark')]]
          {{ENDIF}}
          <form id="auto[[agent.getVal('id')]]" action="tasks.php?id=[[task.getVal('id')]]" method="POST">
            <input type="hidden" name="action" value="agentauto">
            <input type="hidden" name="agent" value="[[agent.getVal('id')]]">
            <input type="checkbox" name="auto" value="1" {{IF !!agent.getVal('autoadjust')!! == 1}} checked{{ENDIF}}
            {{IF [[login.getLevel()]] >= 20}}
              onChange="javascript:document.getElementById('auto[[agent.getVal('id')]]').submit();"
            {{ELSE}}
              disabled
            {{ENDIF}}
            > Auto
          </form>
        </td>
        <td class="num">
          {{IF [[agent.getVal('working')]] == 1}}
            [[Util::nicenum([[agent.getVal('speed')]], 100000, 1000)]]H/s
          {{ENDIF}}
        </td>
        <td class="num">
          {{IF [[task.getVal('keyspace')]] > 0}}
            [[agent.getVal('searched')]]
            ([[Util::showperc([[agent.getVal('searched')]], [[task.getVal('keyspace')]])]]%)
          {{ENDIF}}
        </td>
        <td class="num">[[Util::sectotime([[agent.getVal('spent')]])]]</td>
        <td class="num">[[agent.getVal('cracked')]]</td>
        <td>
          {{IF [[agent.getVal('time')]] > 0}}
            [[date([[config.getVal('timefmt')]], [[agent.getVal('time')]])]]
          {{ENDIF}}
        </td>
        <td>
          {{IF [[login.getLevel()]] >= 20}}
            <form style='float: left; padding-right: 5px;' action="agents.php?task=[[task.getVal('id')]]" method="POST">
              <input type="hidden" name="action" value="agentassign">
              <input type="hidden" name="agent" value="[[agent.getVal('id')]]">
              <input type="hidden" name="task" value="">
              <input type="submit" class='btn btn-default' value="Unassign">
            </form>
          {{ENDIF}}
        </td>
      </tr>
      {{ENDFOREACH}}

      {{IF [[login.getLevel()]] >= 20}}
        <tr>
          <td colspan="2">
            <form action="agents.php?task=[[task.getVal('id')]]" method="POST">
              <input type="hidden" name="action" value="agentassign">
              <input type="hidden" name="task" value="[[task.getVal('id')]]">
              <select class='form-control' name="agent">
                {{FOREACH agent;[[assignAgents]]}}
                  <option value='[[agent.getVal(' id
                  ')]]'>[[agent.getVal('id')]]
                  {{IF [[agent.getVal('name')]] != ""}}
                    ([[agent.getVal('name')]])
                  {{ENDIF}}
                {{ENDFOREACH}}
              </select>
          </td>
          <td colspan="8">
            <input type="submit" class='btn btn-default' value="Assign">&nbsp;&nbsp;&nbsp;
            {{IF [[showAllAgents]]}}
              <a href="tasks.php?id=[[task.getVal('id')]]" class='btn btn-warning'>Hide all Assignments</a>
            {{ELSE}}
              <a href="tasks.php?id=[[task.getVal('id')]]&allagents=true" class='btn btn-success'>Show all Assignments</a>
            {{ENDIF}}
            </form>
          </td>
        </tr>
      {{ENDIF}}
    </table>
  </div>
  {{IF [[showAllAgents]]}}
    <h3>All assigned Agents (over all task time)</h3>
    <div class="panel panel-default">
      <table class="table table-bordered table-nonfluid">
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Keyspace searched</th>
          <th>Time spent</th>
          <th>Cracked</th>
          <th>Last activity</th>
        </tr>
        {{FOREACH agent;[[allAgents]]}}
          <tr>
            <td>
              {{IF [[login.getLevel()]] >= 20}}
                <a href="agents.php?id=[[agent.getVal('id')]]">[[agent.getVal('id')]]</a>
              {{ELSE}}
                [[agent.getVal('id')]]
              {{ENDIF}}
            </td>
            <td>
              {{IF [[login.getLevel()]] >= 20}}
                <a href="agents.php?id=[[agent.getVal('id')]]">[[agent.getVal('name')]]</a>
              {{ELSE}}
                [[agent.getVal('name')]]
              {{ENDIF}}
              {{IF [[agent.getVal('trusted')]] == 1}}
                <img src="static/lock.gif" alt="Trusted">
              {{ENDIF}}
              {{IF [[agent.getVal('working')]] == 1}}
                <img src="static/active.gif" alt="Active">
              {{ENDIF}}
              {{IF [[agent.getVal('active')]] == 0}}
                <img src="static/pause.gif" alt="Paused">
              {{ENDIF}}
            </td>
            <td class="num">
              {{IF [[task.getVal('keyspace')]] > 0}}
                [[agent.getVal('searched')]]
                ([[Util::showperc([[agent.getVal('searched')]], [[task.getVal('keyspace')]])]]%)
              {{ENDIF}}
            </td>
            <td class="num">[[Util::sectotime([[agent.getVal('spent')]])]]</td>
            <td class="num">[[agent.getVal('cracked')]]</td>
            <td>
              {{IF [[agent.getVal('time')]] > 0}}
                [[date([[config.getVal('timefmt')]], [[agent.getVal('time')]])]]
              {{ENDIF}}
            </td>
          </tr>
        {{ENDFOREACH}}
      </table>
    </div>
  {{ENDIF}}
  <h3>Dispatched chunks {{IF [[task.getVal('filter')]] != 1}}(showing active only -
  <a href="tasks.php?id=[[task.getVal('id')]]&all=1">show latest 100</a>){{ENDIF}}{{IF [[task.getVal('filter')]] == 1}}(show latest 100){{ENDIF}}</h3>
  <div class="panel panel-default">
    <table class="table table-bordered table-nonfluid">
      <tr>
        <th>ID</th>
        <th>Start</th>
        <th>Length</th>
        <th>Checkpoint</th>
        <th>Progress</th>
        <th>Agent</th>
        <th>Dispatch time</th>
        <th>Last activity</th>
        <th>Time spent</th>
        <th>State</th>
        <th>Cracked</th>
        <th>Action</th>
      </tr>
      {{FOREACH chunk;[[chunks]]}}
        <tr>
          <td>
            [[chunk.getVal('id')]]
            {{IF [[chunk.getVal('active')]]}}
              <img src="static/active.gif" alt="Active">
            {{ENDIF}}
          </td>
          <td class="num">[[chunk.getVal('skip')]]</td>
          <td class="num">[[chunk.getVal('length')]]</td>
          <td class="num">
            [[chunk.getVal('progress')]]
            {{IF [[chunk.getVal('progress')]] > 0 && [[chunk.getVal('progress')]] != [[chunk.getVal('length')]]}}
              ([[Util::showperc([[chunk.getVal('progress')]], [[chunk.getVal('length')]])]]%)
            {{ENDIF}}
          </td>
          <td class="num">
            [[Util::showperc([[chunk.getVal('rprogress')]], 10000)]]%
          </td>
          <td>
            {{IF [[chunk.getVal('agent')]] == ""}}
              N/A
            {{ELSE}}
              <a href="agents.php?id=[[chunk.getVal('agent')]]">[[chunk.getVal('name')]]</a>
            {{ENDIF}}
          </td>
          <td>
            [[date([[config.getVal('timefmt')]], [[chunk.getVal('dispatchtime')]])]]
          </td>
          <td>
            {{IF [[chunk.getVal('solvetime')]] == 0}}
              (no activity)
            </td>
            <td>
            {{ELSE}}
              [[date([[config.getVal('timefmt')]], [[chunk.getVal('solvetime')]])]]
            </td>
            <td class='num'>
              [[Util::sectotime([[chunk.getVal('spent')]])]]
            {{ENDIF}}
          </td>
          <td>
            [[Util::getStaticArray([[chunk.getVal('state')]], 'states')]]
          </td>
          <td class="num">
            {{IF [[chunk.getVal('cracked')]] > 0 && [[login.getLevel()]] >= 5}}
              <a href="hashes.php?chunk=[[chunk.getVal('id')]]">[[chunk.getVal('cracked')]]</a>
            {{ELSE}}
              [[chunk.getVal('cracked')]]
            {{ENDIF}}
          </td>
          <td>
            {{IF [[chunk.getVal('active')]] == false && [[login.getLevel()]] >= 20}}
              <form action="tasks.php?id=[[task.getVal('id')]]" method="POST" onSubmit="if (!confirm('Really reset chunk [[chunk.getVal('id')]]?')) return false;">
                <input type="hidden" name="action" value="chunkreset">
                <input type="hidden" name="chunk" value="[[chunk.getVal('id')]]">
                <input type="submit" class='btn btn-default' value="Reset">
              </form>
            {{ENDIF}}
            {{IF [[chunk.getVal('active')]] && [[login.getLevel()]] >= 20}}
              <form action="tasks.php?id=[[task.getVal('id')]]" method="POST" onSubmit="if (!confirm('Really abort cracking chunk [[chunk.getVal('id')]]?')) return false;">
                <input type="hidden" name="action" value="chunkabort">
                <input type="hidden" name="chunk" value="[[chunk.getVal('id')]]">
                <input type="submit" class='btn btn-danger' value="Abort">
              </form>
            {{ENDIF}}
          </td>
        </tr>
      {{ENDFOREACH}}
    </table>
  </div>
{{ENDIF}}
{%TEMPLATE->struct/foot%}