{%TEMPLATE->struct/head%}
{%TEMPLATE->struct/menu%}
<h2>Task details</h2>
{%TEMPLATE->struct/messages%}
{%TEMPLATE->tasks/autorefresh%}
<br>
<div class="panel panel-default">
  <table class="table table-bordered table-nonfluid">
    <tr>
      <th>Property</th>
      <th>Value</th>
    </tr>
    <tr>
      <td>ID:</td>
      <td><code>[[task.getId()]]</code></td>
    </tr>
    <tr>
      <td>Name:</td>
      <td>
        {{IF [[login.getLevel()]] >= 20}}
          <form class='form-inline' action="tasks.php?id=[[task.getId()]]" method="POST">
            <input type="hidden" name="action" value="taskrename">
            <input type="hidden" name="task" value="[[task.getId()]]">
            <input type="text" class='form-control' name="name" size="25" value="[[task.getTaskName()]]">
            <input type="submit" class='btn btn-default' value="Change">
          </form>
        {{ELSE}}
          [[task.getTaskName()]]
        {{ENDIF}}
      </td>
    </tr>
    <tr>
      <td>Attack command:</td>
      <td>
        <pre>[[htmlentities([[task.getAttackCmd()]], false, "UTF-8")]]</pre>
      </td>
    </tr>
    <tr>
      <td>Chunk size:</td>
      <td>
        {{IF [[login.getLevel()]] >= 20}}
          <form class='form-inline' action="tasks.php?id=[[task.getId()]]" method="POST">
            <input type="hidden" name="action" value="taskchunk">
            <input type="hidden" name="task" value="[[task.getId()]]">
            <input type="text" class='form-control' name="chunktime" size="5" value="[[task.getChunkTime()]]">
            seconds
            <input type="submit" class='btn btn-default' value="Set">
          </form>
        {{ELSE}}
          [[task.getChunkTime()]] seconds
        {{ENDIF}}
      </td>
    </tr>
    <tr>
      <td>Color:</td>
      <td>
        <form class='form-inline' id="taskcolor" action="tasks.php?id=[[task.getId()]]" method="POST">
          <input type="hidden" name="action" value="taskcolor">
          <input type="hidden" name="task" value="[[task.getId()]]">
          #<input type="text" class='form-control color {required:false}' size="6" name="color" value="[[task.getColor()]]">
          {{IF [[login.getLevel()]] >= 20}}
            <input type="submit" class='btn btn-default' value="Set">
          {{ENDIF}}
        </form>
      </td>
    </tr>
    <tr>
      <td>Benchmark Type:</td>
      <td>
        {{IF [[task.getUseNewBench()]] == 0}}
          Runtime Benchmark
        {{ELSE}}
          Speed Test
        {{ENDIF}}
      </td>
    </tr>
    <tr>
      <td>Status timer:</td>
      <td>[[task.getStatusTimer()]] seconds</td>
    </tr>
    <tr>
      <td>Priority:</td>
      <td>
        {{IF [[login.getLevel()]] >= 20}}
          <form class='form-inline' action="tasks.php?id=[[task.getId()]]" method="POST">
            <input type="hidden" name="action" value="taskprio">
            <input type="hidden" name="task" value="[[task.getId()]]">
            <input type="text" class='form-control' name="priority" size="4" value="[[task.getPriority()]]">
            <input type="submit" class='btn btn-default' value="Set">
          </form>
        {{ELSE}}
          [[task.getPriority()]]
        {{ENDIF}}
      </td>
    </tr>
    <tr>
      <td>Is CPU only task:</td>
      <td>
        {{IF [[login.getLevel()]] >= 20}}
          <form class='form-inline' action="tasks.php?id=[[task.getId()]]" method="POST">
            <input type="hidden" name="action" value="cputask">
            <input type="hidden" name="task" value="[[task.getId()]]">
            <select name="isCpu" class="form-control">
              <option value="0"{{IF [[task.getIsCpuTask()]] == 0}} selected{{ENDIF}}>No</option>
              <option value="1"{{IF [[task.getIsCpuTask()]] == 1}} selected{{ENDIF}}>Yes</option>
            </select>
            <input type="submit" class='btn btn-default' value="Set">
          </form>
        {{ELSE}}
          {{IF [[task.getIsCpuTask()]] == 1}}
            Yes
          {{ELSE}}
            No
          {{ENDIF}}
        {{ENDIF}}
      </td>
    </tr>
    <tr>
      <td>Is small task:</td>
      <td>
        {{IF [[login.getLevel()]] >= 20}}
          <form class='form-inline' action="tasks.php?id=[[task.getId()]]" method="POST">
            <input type="hidden" name="action" value="smalltask">
            <input type="hidden" name="task" value="[[task.getId()]]">
            <select name="isSmall" class="form-control">
              <option value="0"{{IF [[task.getIsSmall()]] == 0}} selected{{ENDIF}}>No</option>
              <option value="1"{{IF [[task.getIsSmall()]] == 1}} selected{{ENDIF}}>Yes</option>
            </select>
            <input type="submit" class='btn btn-default' value="Set">
          </form>
        {{ELSE}}
          {{IF [[task.getIsSmall()]] == 1}}
            Yes
          {{ELSE}}
            No
          {{ENDIF}}
        {{ENDIF}}
      </td>
    </tr>
    <tr>
      <td>Skipping keyspace at the beginning:</td>
      <td>
        [[task.getSkipKeyspace()]]
      </td>
    </tr>
    {{IF [[task.getHashlistId()]] != null}}
      <tr>
        <td>Keyspace size:</td>
        <td>
          {{IF [[task.getKeyspace()]] > 0}}
            [[task.getKeyspace()]]
          {{ELSE}}
            N/A
          {{ENDIF}}
        </td>
      </tr>
      <tr>
        <td>Keyspace dispatched:</td>
        <td>
          [[task.getProgress()]] ([[Util::showperc([[task.getProgress()]], [[task.getKeyspace()]])]]%)
          {{IF [[isActive]] == 0 && [[login.getLevel()]] >= 20}}
            <form class='form-inline' action="tasks.php?id=[[task.getId()]]" method="POST" onSubmit="if (!confirm('Really completely purge task [[task.getId()]]?')) return false;">
              <input type="hidden" name="action" value="taskpurge">
              <input type="hidden" name="task" value="[[task.getId()]]">
              <input type="submit" class='btn btn-danger' value="Purge">
            </form>
          {{ENDIF}}
        </td>
      </tr>
      <tr>
        <td>Keyspace searched:</td>
        <td>
          {{IF [[task.getKeyspace()]] > 0}}
            [[cProgress]] ([[Util::showperc([[cProgress]], [[task.getKeyspace()]])]]%)
          {{ELSE}}
            N/A
          {{ENDIF}}
        </td>
      </tr>
      <tr>
        <td>Time spent:</td>
        <td>
          [[Util::sectotime([[timeSpent]])]]
        </td>
      </tr>
      <tr>
        <td>Estimated time:</td>
        <td>
          {{IF [[timeLeft]] > 0}}
            [[Util::sectotime([[timeLeft]])]]
          {{ELSE}}
            ---
          {{ENDIF}}
        </td>
      </tr>
      <tr>
        <td>Speed:</td>
        <td>[[Util::nicenum([[currentSpeed]], 100000, 1000)]]H/s</td>
      </tr>
      <tr>
        <td>
          {{IF [[hashlist.getFormat()]] == 3}}
            Superhashlist
          {{ELSE}}
            Hashlist
          {{ENDIF}}
        </td>
        <td>
          {{IF [[hashlist.getFormat()]] == 3}}
            <a href="superhashlists.php?id=[[hashlist.getId()]]">[[hashlist.getHashlistName()]]</a>
            ([[hashtype.getDescription()]])
          {{ELSE}}
            <a href="hashlists.php?id=[[hashlist.getId()]]">[[hashlist.getHashlistName()]]</a>
            ([[hashtype.getDescription()]])
          {{ENDIF}}
        </td>
      </tr>
    </table>
  </div>
  <div class="panel panel-default">
    <table class="table table-bordered table-nonfluid">
      <tr>
        <td>Visual representation</td>
      </tr>
      <tr>
        <td>
          <img class='img-responsive' style="height: 32px" src="api/taskimg.php?task=[[task.getId()]]&x=1500&y=32">
        </td>
      </tr>
    {{ENDIF}}
  </table>
</div>
{{IF [[sizeof([[attachedFiles]])]] > 0}}
  {{IF [[login.getLevel()]] >= 5}}
    <h3>Attached files</h3>
    <div class="panel panel-default">
      <table class="table table-bordered table-nonfluid">
        <tr>
          <th>ID</th>
          <th>Filename</th>
          <th>Size</th>
        </tr>
        {{FOREACH file;[[attachedFiles]]}}
          <tr>
            <td>[[file.getId()]]</td>
            <td>
              {{IF [[login.getLevel()]] >= 20}}
                <a href="files.php#[[file.getId()]]">[[file.getFilename()]]</a>
              {{ELSE}}
                [[file.getFilename()]]
              {{ENDIF}}
              {{IF [[file.getSecret()]] == 1}}
                <img src="static/lock.gif" alt="Secret">
              {{ENDIF}}
            </td>
            <td class='num'>
              [[Util::nicenum([[file.getSize()]])]]B
            </td>
          </tr>
        {{ENDFOREACH}}
      </table>
    </div>
  {{ENDIF}}
{{ENDIF}}
<h3>Assigned agents</h3>
<div class="panel panel-default">
  <table class="table table-bordered table-nonfluid">
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Benchmark</th>
      <th>Speed</th>
      <th>Keyspace searched</th>
      <th>Time spent</th>
      <th>Cracked</th>
      <th>Last activity</th>
      <th>Action</th>
    </tr>
    {{FOREACH agent;[[agents]]}}
      <tr>
        <td>
          {{IF [[login.getLevel()]] >= 20}}
            <a href="agents.php?id=[[agent.getId()]]">[[agent.getId()]]</a>
          {{ELSE}}
            [[agent.getId()]]
          {{ENDIF}}
        </td>
        <td>
          {{IF [[login.getLevel()]] >= 20}}
            <a href="agents.php?id=[[agent.getId()]]">[[agent.getAgentName()]]</a>
          {{ELSE}}
            [[agent.getAgentName()]]
          {{ENDIF}}
          {{IF [[agent.getIsTrusted()]] == 1}}
            <img src="static/lock.gif" alt="Trusted">
          {{ENDIF}}
          {{IF [[activeAgents.getVal([[agent.getId()]])]] == 1}}
            <img src="static/active.gif" alt="Active">
          {{ENDIF}}
          {{IF [[agent.getIsActive()]] == 0}}
            <img src="static/pause.gif" alt="Paused">
          {{ENDIF}}
        </td>
        <td>
          {{IF [[login.getLevel()]] >= 20}}
            <form class='form-inline' action="tasks.php?id=[[task.getId()]]" method="POST">
              <input type="hidden" name="action" value="agentbench">
              <input type="hidden" name="agent" value="[[agent.getId()]]">
              <input type="text" class='form-control' name="bench" value="[[agentsBench.getVal([[agent.getId()]])]]" size="8">
              <input type="submit" class='btn btn-default' value="Set">
            </form>
          {{ELSE}}
            [[agentsBench.getVal([[agent.getId()]])]]
          {{ENDIF}}
        </td>
        <td class="num">
          {{IF [[activeAgents.getVal([[agent.getId()]])]] == 1}}
            [[Util::nicenum([[agentsSpeed.getVal([[agent.getId()]])]], 100000, 1000)]]H/s
          {{ELSE}}
            ---
          {{ENDIF}}
        </td>
        <td class="num">
          {{IF [[task.getKeyspace()]] > 0}}
            [[agentsProgress.getVal([[agent.getId()]])]]
            ([[Util::showperc([[agentsProgress.getVal([[agent.getId()]])]], [[task.getKeyspace()]])]]%)
          {{ELSE}}
            ---
          {{ENDIF}}
        </td>
        <td class="num">[[Util::sectotime([[agentsSpent.getVal([[agent.getId()]])]])]]</td>
        <td class="num">
          {{IF [[agentsCracked.getVal([[agent.getId()]])]] > 0}}
            [[agentsCracked.getVal([[agent.getId()]])]]
          {{ELSE}}
            0
          {{ENDIF}}
        </td>
        <td>
          {{IF [[agent.getLastAct()]] > 0}}
            [[date([[config.getVal(DConfig::TIME_FORMAT)]], [[agent.getLastAct()]])]]
          {{ELSE}}
            ---
          {{ENDIF}}
        </td>
        <td>
          {{IF [[login.getLevel()]] >= 20}}
            <form style='float: left; padding-right: 5px;' action="agents.php?task=[[task.getId()]]" method="POST">
              <input type="hidden" name="action" value="agentassign">
              <input type="hidden" name="agent" value="[[agent.getId()]]">
              <input type="hidden" name="task" value="">
              <input type="submit" class='btn btn-default' value="Unassign">
            </form>
          {{ENDIF}}
        </td>
      </tr>
    {{ENDFOREACH}}

    {{IF [[login.getLevel()]] >= 20}}
      <tr>
        <td colspan="4">
          <form action="agents.php?task=[[task.getId()]]" method="POST">
            <div class="col-md-8">
              <input type="hidden" name="action" value="agentassign">
              <input type="hidden" name="task" value="[[task.getId()]]">
              <select class='form-control' name="agent">
                {{FOREACH agent;[[assignAgents]]}}
                  <option value='[[agent.getId()]]'>[[agent.getId()]]
                  {{IF [[agent.getAgentName()]] != ""}}
                    ([[agent.getAgentName()]])
                  {{ENDIF}}
                  </option>
                {{ENDFOREACH}}
              </select>
            </div>
            <div class="col-md-4">
              <input type="submit" class='btn btn-default' value="Assign">
            </div>
          </form>
        </td>
        <td colspan="6">
          {{IF [[showAllAgents]]}}
            <a href="tasks.php?id=[[task.getId()]]" class='btn btn-warning'>Hide all Assignments</a>
          {{ELSE}}
            <a href="tasks.php?id=[[task.getId()]]&allagents=true" class='btn btn-success'>Show all Assignments</a>
          {{ENDIF}}
        </td>
      </tr>
    {{ENDIF}}
  </table>
</div>
{{IF [[showAllAgents]]}}
  <h3>All assigned Agents (over all task time)</h3>
  <div class="panel panel-default">
    <table class="table table-bordered table-nonfluid">
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Keyspace searched</th>
        <th>Time spent</th>
        <th>Cracked</th>
        <th>Last activity</th>
      </tr>
      {{FOREACH agent;[[agentObjects]]}}
        <tr>
          <td>
            {{IF [[login.getLevel()]] >= 20}}
              <a href="agents.php?id=[[agent.getId()]]">[[agent.getId()]]</a>
            {{ELSE}}
              [[agent.getId()]]
            {{ENDIF}}
          </td>
          <td>
            {{IF [[login.getLevel()]] >= 20}}
              <a href="agents.php?id=[[agent.getId()]]">[[agent.getAgentName()]]</a>
            {{ELSE}}
              [[agent.getAgentName()]]
            {{ENDIF}}
            {{IF [[agent.getIsTrusted()]] == 1}}
              <img src="static/lock.gif" alt="Trusted">
            {{ENDIF}}
            {{IF [[activeAgents.getVal([[agent.getId()]])]] == 1}}
              <img src="static/active.gif" alt="Active">
            {{ENDIF}}
          </td>
          <td class="num">
            {{IF [[task.getKeyspace()]] > 0}}
              [[agentsProgress.getVal([[agent.getId()]])]]
              ([[Util::showperc([[agentsProgress.getVal([[agent.getId()]])]], [[task.getKeyspace()]])]]%)
            {{ENDIF}}
          </td>
          <td class="num">[[Util::sectotime([[agentsSpent.getVal([[agent.getId()]])]])]]</td>
          <td class="num">[[agentsCracked.getVal([[agent.getId()]])]]</td>
          <td>
            {{IF [[agent.getLastTime()]] > 0}}
              [[date([[config.getVal(DConfig::TIME_FORMAT)]], [[agent.getLastTime()]])]]
            {{ENDIF}}
          </td>
        </tr>
      {{ENDFOREACH}}
    </table>
  </div>
{{ENDIF}}
<h3>Dispatched chunks {{IF [[chunkFilter]] != 1}}(showing active only -
<a href="tasks.php?id=[[task.getId()]]&all=1">show latest 100</a>){{ENDIF}}{{IF [[chunkFilter]] == 1}}(show latest 100){{ENDIF}}</h3>
<div class="panel panel-default">
  <table class="table table-bordered table-nonfluid">
    <tr>
      <th>ID</th>
      <th>Start</th>
      <th>Length</th>
      <th>Checkpoint</th>
      <th>Progress</th>
      <th>Agent</th>
      <th>Dispatch time</th>
      <th>Last activity</th>
      <th>Time spent</th>
      <th>State</th>
      <th>Cracked</th>
      <th>Action</th>
    </tr>
    {{FOREACH chunk;[[chunks]]}}
      <tr>
        <td>
          [[chunk.getId()]]
          {{IF [[activeChunks.getVal([[chunk.getId()]])]]}}
            <img src="static/active.gif" alt="Active">
          {{ENDIF}}
        </td>
        <td class="num">[[chunk.getSkip()]]</td>
        <td class="num">[[chunk.getLength()]]</td>
        <td class="num">
          [[chunk.getProgress()]]
          {{IF [[chunk.getProgress()]] > 0 && [[chunk.getProgress()]] != [[chunk.getLength()]]}}
            ([[Util::showperc([[chunk.getProgress()]], [[chunk.getLength()]])]]%)
          {{ENDIF}}
        </td>
        <td class="num">
          [[Util::showperc([[chunk.getRprogress()]], 10000)]]%
        </td>
        <td>
          {{IF ![[chunk.getAgentId()]]}}
            N/A
          {{ELSE}}
            <a href="agents.php?id=[[chunk.getAgentId()]]">[[fullAgents.getVal([[chunk.getAgentId()]]).getAgentName()]]</a>
          {{ENDIF}}
        </td>
        <td>
          {{IF [[chunk.getDispatchTime()]] == 0}}
            (no activity)
          {{ELSE}}
            [[date([[config.getVal(DConfig::TIME_FORMAT)]], [[chunk.getDispatchTime()]])]]
          {{ENDIF}}
        </td>
        <td>
          {{IF [[chunk.getSolveTime()]] == 0}}
            (no activity)
          </td>
          <td>
          {{ELSE}}
            [[date([[config.getVal(DConfig::TIME_FORMAT)]], [[chunk.getSolveTime()]])]]
          </td>
          <td class='num'>
            [[Util::sectotime([[chunk.getSolveTime()]] - [[chunk.getDispatchTime()]])]]
          {{ENDIF}}
        </td>
        <td>
          [[Util::getStaticArray([[chunk.getState()]], 'states')]]
        </td>
        <td class="num">
          {{IF [[chunk.getCracked()]] > 0 && [[login.getLevel()]] >= 5}}
            <a href="hashes.php?chunk=[[chunk.getId()]]">[[chunk.getCracked()]]</a>
          {{ELSE}}
            [[chunk.getCracked()]]
          {{ENDIF}}
        </td>
        <td>
          {{IF [[activeChunks.getVal([[chunk.getId()]])]] == false && [[login.getLevel()]] >= 20}}
            <form action="tasks.php?id=[[task.getId()]]" method="POST" onSubmit="if (!confirm('Really reset chunk [[chunk.getId()]]?')) return false;">
              <input type="hidden" name="action" value="chunkreset">
              <input type="hidden" name="chunk" value="[[chunk.getId()]]">
              <input type="submit" class='btn btn-default' value="Reset">
            </form>
          {{ENDIF}}
          {{IF [[activeChunks.getVal([[chunk.getId()]])]] && [[login.getLevel()]] >= 20}}
            <form action="tasks.php?id=[[task.getId()]]" method="POST" onSubmit="if (!confirm('Really abort cracking chunk [[chunk.getId()]]?')) return false;">
              <input type="hidden" name="action" value="chunkabort">
              <input type="hidden" name="chunk" value="[[chunk.getId()]]">
              <input type="submit" class='btn btn-danger' value="Abort">
            </form>
          {{ENDIF}}
        </td>
      </tr>
    {{ENDFOREACH}}
  </table>
</div>
{%TEMPLATE->struct/foot%}