{%TEMPLATE->struct/head%}
{%TEMPLATE->struct/menu%}
<h2>Tasks ([[sizeof([[tasks]])]])</h2>
{%TEMPLATE->struct/messages%}
<div style='overflow: auto;'>
	{{IF [[login.getLevel()]] >= 30}}
		<form style ='float: left; padding-right: 5px;' action="tasks.php" class='form-inline' method="POST" onSubmit="if (!confirm('Really delete all finished tasks?')) return false;">
			<input type='hidden' name='action' value='finishedtasksdelete'>
			<input type="submit" value="Delete finished" class='btn btn-default'>
		</form>
	{{ENDIF}}
	{%TEMPLATE->tasks/autorefresh%}
	<br>
</div>
<br>
<div class="panel panel-default">
	<table class="table table-bordered table-nonfluid">
    	<tr>
    		<th>ID</th>
    		<th>Name</th>
    		<th>Hashlist</th>
    		<th>Chunks</th>
    		<th>Dispatched</th>
    		<th>Searched</th>
    		<th>Cracked</th>
    		<th>Agents</th>
    		<th>Files</th>
    		<th>Priority</th>
    		<th>Action</th>
    	</tr>
    	{{FOREACH task;[[tasks]]}}
    		<tr>
    			<td
	    			{{IF [[strlen([[task.getVal('Task')->getColor()]])]] > 0}}
	    				style="background-color: #[[task.getVal('Task')->getColor()]]"
	    			{{ENDIF}}
	    			>
	    			{{IF [[login.getLevel()]] >= 5}}
	    				<a href="tasks.php?id=[[task.getVal('Task')->getId()]]">[[task.getVal('Task')->getId()]]</a>
	    			{{ELSE}}
	    				[[task.getVal('Task')->getId()]]
	    			{{ENDIF}}
    			</td>
    			<td title="[[htmlentities([[task.getVal('Task')->getAttackCmd()]], false, 'UTF-8')]]">
    				{{IF [[login.getLevel()]] >= 5}}
    					<a href="tasks.php?id=[[task.getVal('Task')->getId()]]">[[task.getVal('Task')->getTaskName()]]</a>
    				{{ELSE}}
    					[[task.getVal('Task')->getTaskName()]]
    				{{ENDIF}}
						[[Util::tickdone([[task.getVal('sumprog')]], [[task.getVal('Task')->getKeyspace()]])]]
						{{IF [[task.getVal('isActive')]] == 1 && [[task.getVal('sumprog')]] < [[task.getVal('Task')->getKeyspace()]]}}
							<img src="static/active.gif" alt="Active">
						{{ENDIF}}
					  {{IF [[task.getVal('Task').getIsCpuTask()]] == 1}}
              <br>CPU only
            {{ENDIF}}
            {{IF [[task.getVal('Task').getIsSmall()]] == 1}}
              <br>Small Task
            {{ENDIF}}
					</td>
					<td>
        			{{IF [[task.getVal('Hashlist')->getId()]] == null}}
        				(pre-configured task)
        			{{ENDIF}}
        			{{IF [[task.getVal('Hashlist')]] != null && [[login.getLevel()]] >= 5}}
        				<a href="hashlists.php?id=[[task.getVal('Hashlist')->getId()]]">[[task.getVal('Hashlist')->getHashlistName()]]</a>
        			{{ENDIF}}
        			{{IF [[task.getVal('Hashlist')]] != null && [[login.getLevel()]] < 5}}
        				[[task.getVal('Hashlist')->getHashlistName()]]
        			{{ENDIF}}
        			{{IF [[task.getVal('Hashlist')]] != null && [[task.getVal('Hashlist')->getSecret()]] == 1}}
        				<img src="static/lock.gif" alt="Secret">
        			{{ENDIF}}
        			{{IF [[task.getVal('Hashlist')]] != null && [[task.getVal('Hashlist')->getHashcount()]] == [[task.getVal('Hashlist')->getCracked()]]}}
        				[[Util::tickdone(1, 1)]]
        			{{ENDIF}}
        			{{IF [[task.getVal('Hashlist')]] != null && [[task.getVal('Hashlist')->getHashcount()]] != [[task.getVal('Hashlist')->getCracked()]]}}
        				[[Util::tickdone(0, 1)]]
        			{{ENDIF}}
        		</td>
        		<td class="num">[[task.getVal('numChunks')]]@[[task.getVal('Task')->getChunkTime()]]s</td>
						{{IF [[task.getVal('Task')->getKeyspace()]] > 0}}
							<td class='num'>
								[[Util::showperc([[task.getVal('Task')->getProgress()]], [[task.getVal('Task')->getKeyspace()]])]]%
							</td>
							<td class='num'>
								[[Util::showperc([[task.getVal('sumprog')]], [[task.getVal('Task')->getKeyspace()]])]]%
							</td>
						{{ELSE}}
							<td colspan='2'>Keyspace unknown</td>
						{{ENDIF}}
        		<td class='num'>
        			{{IF [[task.getVal('cracked')]] > 0 && [[login.getLevel()]] >= 5}}
        				<a href="hashes.php?task=[[task.getVal('Task')->getId()]]&filter=cracked">[[task.getVal('cracked')]]</a>
        			{{ENDIF}}
        			{{IF [[task.getVal('cracked')]] > 0 && [[login.getLevel()]] < 5}}
        				[[task.getVal('cracked')]]
        			{{ENDIF}}
        		</td>
        		<td class='num'>
        			{{IF [[task.getVal('numAssignments')]] > 0}}
        				[[task.getVal('numAssignments')]]
        			{{ENDIF}}
        		</td>
        		<td style='min-width: 95px'>
        			{{IF [[task.getVal('numFiles')]] > 0}}
        				[[task.getVal('numFiles')]]
        			{{ENDIF}}
        			{{IF [[task.getVal('fileSecret')]]}}
        				<img src="static/lock.gif" alt="Secret">
        			{{ENDIF}}
        			{{IF [[task.getVal('numFiles')]] > 0}}
        				<br>([[Util::nicenum([[task.getVal('filesSize')]])]]B)
        			{{ENDIF}}
        		</td>
        		<td style='min-width: 130px'>
        			{{IF [[login.getLevel()]] >= 20}}
	        			<form class="form-inline" action="tasks.php" method="POST">
	        				<input type='hidden' name='action' value='taskprio'>
	        				<input type="hidden" name="task" value="[[task.getVal('Task')->getId()]]">
	        				<input type="text" class='form-control' style='width: 60px;' name="priority" size="4" value="[[task.getVal('Task')->getPriority()]]">
	        				<input type="submit" class='btn btn-default' value="Set">
	        			</form>
        			{{ELSE}}
        				[[task.getVal('Task')->getPriority()]]
        			{{ENDIF}}
        		</td>
        		<td style='min-width: 120px'>
        			{{IF [[login.getLevel()]] >= 30}}
	        			<form style ='float: left; padding-right: 5px;' action="tasks.php?new=true&copy=[[task.getVal('Task')->getId()]]" method="post">
	        				<input type="submit" class='btn btn-default' value="Copy">
	        			</form>
	        			<form style ='float: left;' action="tasks.php" method="POST" onSubmit="if (!confirm('Really delete task [[task.getVal('Task')->getId()]]?')) return false;">
	        				<input type="hidden" name="action" value="taskdelete">
	        				<input type="hidden" name="task" value="[[task.getVal('Task')->getId()]]">
	        				<input type="submit" class='btn btn-danger' value="X">
	        			</form>
	        		{{ENDIF}}
        		</td>
    		</tr>
    		{{IF [[task.getVal('sumprog')]] < [[task.getVal('Task')->getKeyspace()]]}}
    			<tr>
    				<td colspan="11" style="padding: 0px 1px;">
    					<img style="width: 100%; height: 6px; padding: 0px;" src="api/taskimg.php?task=[[task.getVal('Task')->getId()]]&x=1200&y=6">
    				</td>
    			</tr>
    		{{ENDIF}}
    	{{ENDFOREACH}}
    </table>
</div>
{%TEMPLATE->struct/foot%}