{%TEMPLATE->struct/head%}
{%TEMPLATE->struct/menu%}
<h2>Tasks ([[sizeof([[tasks]])]])</h2>
{%TEMPLATE->struct/messages%}
<div style='overflow: auto;'>
	{{IF [[login.getLevel()]] >= [[$DAccessLevel::SUPERUSER]]}}
		<form style ='float: left; padding-right: 5px;' action="tasks.php" class='form-inline' method="POST" onSubmit="if (!confirm('Really delete all finished tasks?')) return false;">
			<input type='hidden' name='action' value='[[$DTaskAction::DELETE_FINISHED]]'>
			<input type="hidden" name="csrf" value="[[csrf]]">
			<input type="submit" value="Delete finished" class='btn btn-default'>
		</form>
	{{ENDIF}}
	{%TEMPLATE->tasks/autorefresh%}
	<br>
</div>
<br>
<div class="panel panel-default">
	<table class="table table-bordered table-nonfluid">
		<tr>
			<th>ID</th>
			<th>Name</th>
			<th>Hashlist</th>
			<th>Chunks</th>
			<th>Dispatched</th>
			<th>Searched</th>
			<th>Cracked</th>
			<th>Agents</th>
			<th>Files</th>
			<th>Task Priority</th>
			<th>Action</th>
		</tr>
		{{FOREACH taskWrapper;[[taskWrappers]]}}
			{{IF [[taskWrapper.getTaskType()]] == [[$DTaskTypes::NORMAL]]}}
				<!-- normal task -->
				<tr>
          <td {{IF [[strlen([[allTasks.getVal([[taskWrapper.getId()]]).getColor()]])]] > 0}}style="background-color: #[[allTasks.getVal([[taskWrapper.getId()]]).getColor()]]"{{ENDIF}}>
            {{IF [[login.getLevel()]] >= 5}}
              <a href="tasks.php?id=[[allTasks.getVal([[taskWrapper.getId()]]).getId()]]">[[allTasks.getVal([[taskWrapper.getId()]]).getId()]]</a>
            {{ELSE}}
              [[allTasks.getVal([[taskWrapper.getId()]]).getId()]]
            {{ENDIF}}
          </td>
          <td title="[[htmlentities([[allTasks.getVal([[taskWrapper.getId()]]).getAttackCmd()]], ENT_QUOTES, 'UTF-8')]]">
            {{IF [[login.getLevel()]] >= 5}}
              <a href="tasks.php?id=[[allTasks.getVal([[taskWrapper.getId()]]).getId()]]">[[allTasks.getVal([[taskWrapper.getId()]]).getTaskName()]]</a>
            {{ELSE}}
              [[allTasks.getVal([[taskWrapper.getId()]]).getTaskName()]]
            {{ENDIF}}
            [[Util::tickdone([[keyspaceProgresses.getVal([[allTasks.getVal([[taskWrapper.getId()]])]])]], [[allTasks.getVal([[taskWrapper.getId()]]).getKeyspace()]])]]
            {{IF [[activeTasks.getVal([[allTasks.getVal([[taskWrapper.getId()]])]])]] == 1}}
              <img src="static/active.gif" alt="Active">
            {{ENDIF}}
            {{IF [[allTasks.getVal([[taskWrapper.getId()]]).getIsCpuTask()]] == 1}}
              <br>CPU only
            {{ENDIF}}
            {{IF [[allTasks.getVal([[taskWrapper.getId()]]).getIsSmall()]] == 1}}
              <br>Small Task
            {{ENDIF}}
          </td>
          <td>
            {{IF [[login.getLevel()]] >= 5}}
              <a href="hashlists.php?id=[[allHashlists.getVal([[taskWrapper.getId()]]).getId()]]">[[allHashlists.getVal([[taskWrapper.getId()]]).getHashlistName()]]</a>
            {{ELSE}}
              [[allHashlists.getVal([[taskWrapper.getId()]]).getHashlistName()]]
            {{ENDIF}}
            {{IF [[allHashlists.getVal([[taskWrapper.getId()]]).getSecret()]] == 1}}
              <img src="static/lock.gif" alt="Secret">
            {{ENDIF}}
            {{IF [[allHashlists.getVal([[taskWrapper.getId()]]).getHashcount()]] == [[allHashlists.getVal([[taskWrapper.getId()]]).getCracked()]]}}
              [[Util::tickdone(1, 1)]]
            {{ENDIF}}
            {{IF [[allHashlists.getVal([[taskWrapper.getId()]]).getHashcount()]] != [[allHashlists.getVal([[taskWrapper.getId()]]).getCracked()]]}}
              [[Util::tickdone(0, 1)]]
            {{ENDIF}}
          </td>
          <td class="num">[[numChunks.getVal([[allTasks.getVal([[taskWrapper.getId()]])]])]]@[[allTasks.getVal([[taskWrapper.getId()]]).getChunkTime()]]s</td>
          {{IF [[allTasks.getVal([[taskWrapper.getId()]]).getKeyspace()]] > 0}}
            <td class='num'>
              [[Util::showperc([[allTasks.getVal([[taskWrapper.getId()]]).getProgress()]], [[allTasks.getVal([[taskWrapper.getId()]]).getKeyspace()]])]]%
            </td>
            <td class='num'>
              [[Util::showperc([[sumProgress.getVal([[allTasks.getVal([[taskWrapper.getId()]])]])]], [[allTasks.getVal([[taskWrapper.getId()]]).getKeyspace()]])]]%
            </td>
          {{ELSE}}
            <td colspan='2'>Keyspace unknown</td>
          {{ENDIF}}
          <td class='num'>
            {{IF [[cracked.getVal([[allTasks.getVal([[taskWrapper.getId()]])]])]] > 0 && [[login.getLevel()]] >= 5}}
              <a href="hashes.php?task=[[allTasks.getVal([[taskWrapper.getId()]]).getId()]]&filter=cracked">[[cracked.getVal([[allTasks.getVal([[taskWrapper.getId()]])]])]]</a>
            {{ENDIF}}
            {{IF [[cracked.getVal([[allTasks.getVal([[taskWrapper.getId()]])]])]] > 0 && [[login.getLevel()]] < 5}}
              [[cracked.getVal([[allTasks.getVal([[taskWrapper.getId()]])]])]]
            {{ENDIF}}
          </td>
          <td class='num'>
            {{IF [[numAssignments.getVal([[allTasks.getVal([[taskWrapper.getId()]])]])]] > 0}}
              [[numAssignments.getVal([[allTasks.getVal([[taskWrapper.getId()]])]])]]
            {{ENDIF}}
          </td>
          <td style='min-width: 95px'>
            {{IF [[numFiles.getVal([[allTasks.getVal([[taskWrapper.getId()]])]])]] > 0}}
              [[numFiles.getVal([[allTasks.getVal([[taskWrapper.getId()]])]])]]
            {{ENDIF}}
            {{IF [[fileSecret.getVal([[allTasks.getVal([[taskWrapper.getId()]])]])]]}}
              <img src="static/lock.gif" alt="Secret">
            {{ENDIF}}
            {{IF [[numFiles.getVal([[allTasks.getVal([[taskWrapper.getId()]])]])]] > 0}}
              <br>([[Util::nicenum([[fileSizes.getVal([[allTasks.getVal([[taskWrapper.getId()]])]])]])]]B)
            {{ENDIF}}
          </td>
          <td style='min-width: 130px'>
            {{IF [[login.getLevel()]] >= 20}}
              <form class="form-inline" action="tasks.php" method="POST">
                <input type='hidden' name='action' value='[[$DTaskAction::SET_PRIORITY]]'>
                <input type="hidden" name="task" value="[[allTasks.getVal([[taskWrapper.getId()]]).getId()]]">
                <input type="hidden" name="csrf" value="[[csrf]]">
                <input type="text" class='form-control' style='width: 60px;' name="priority" size="4" value="[[allTasks.getVal([[taskWrapper.getId()]]).getPriority()]]" title="Priority">
                <input type="submit" class='btn btn-default' value="Set">
              </form>
            {{ELSE}}
              [[allTasks.getVal([[taskWrapper.getId()]]).getPriority()]]
            {{ENDIF}}
          </td>
          <td style='min-width: 120px'>
            {{IF [[login.getLevel()]] >= 30}}
              {{IF [[allTasks.getVal([[taskWrapper.getId()]]).getTaskType()]] != 1}}
                <form style ='float: left; padding-right: 5px;' action="tasks.php?new=true&copy=[[allTasks.getVal([[taskWrapper.getId()]]).getId()]]" method="post">
                  <input type="submit" class='btn btn-default' value="Copy">
                </form>
              {{ENDIF}}

              <form style ='float: left;' action="tasks.php" method="POST" onSubmit="if (!confirm('Really delete task [[allTasks.getVal([[taskWrapper.getId()]]).getId()]]?')) return false;">
                <input type="hidden" name="action" value="[[$DTaskAction::DELETE_TASK]]">
                <input type="hidden" name="task" value="[[allTasks.getVal([[taskWrapper.getId()]]).getId()]]">
                <input type="hidden" name="csrf" value="[[csrf]]">
                <input type="submit" class='btn btn-danger' value="X">
              </form>
            {{ENDIF}}
          </td>
        </tr>
        {{IF [[sumProgress.getVal([[allTasks.getVal([[taskWrapper.getId()]])]])]] < [[allTasks.getVal([[taskWrapper.getId()]]).getKeyspace()]]}}
          <tr{{IF [[allTasks.getVal([[taskWrapper.getId()]]).getTaskType()]] == 1}} style="background-color: rgba(0,0,0,0.1);" data-toggle="collapse" data-target="#task[[allTasks.getVal([[taskWrapper.getId()]]).getId()]]" class="accordion-toggle"{{ENDIF}}>
            <td colspan="11" style="padding: 0px 1px;">
              <img style="width: 100%; height: 6px; padding: 0px;" src="api/taskimg.php?task=[[allTasks.getVal([[taskWrapper.getId()]]).getId()]]&x=1200&y=6">
            </td>
				  </tr>
				{{ENDIF}}
			{{ELSE}}
				<!-- supertask -->
			{{ENDIF}}
    {{ENDFOREACH}}
  </table>
</div>
{%TEMPLATE->struct/foot%}