{{FOREACH subTask;[[set.getVal('subtaskList')]]}}
  <tr>
    <td {{IF [[subTask.getVal('sumProgress')]] < [[subTask.getVal('keyspace')]]}}rel="popover" data-img="api/taskimg.php?task=[[subTask.getVal('taskId')]]&x=1200&y=6"{{ENDIF}}{{IF [[strlen([[subTask.getVal('color')]])]] > 0}} style="background-color: #[[subTask.getVal('color')]]"{{ENDIF}}>
      {{IF [[accessControl.hasPermission([[$DAccessControl::VIEW_TASK_ACCESS]])]]}}
        <a href="tasks.php?id=[[subTask.getVal('taskId')]]">[[subTask.getVal('taskId')]]</a>
      {{ELSE}}
        [[subTask.getVal('taskId')]]
      {{ENDIF}}
    </td>
    <td title="[[htmlentities([[subTask.getVal('attackCmd')]], ENT_QUOTES, 'UTF-8')]]">
      {{IF [[accessControl.hasPermission([[$DAccessControl::VIEW_TASK_ACCESS]])]]}}
        <a href="tasks.php?id=[[subTask.getVal('taskId')]]">[[subTask.getVal('taskName')]]</a>
      {{ELSE}}
        [[subTask.getVal('taskName')]]
      {{ENDIF}}
      [[Util::tickdone([[subTask.getVal('sumProgress')]], [[subTask.getVal('keyspace')]])]]
      {{IF [[subTask.getVal('isActive')]] == 1 && [[subTask.getVal('sumProgress')]] < [[subTask.getVal('keyspace')]]}}
        <img src="static/active.gif" alt="Active">
      {{ENDIF}}
      {{IF [[subTask.getVal('cpuOnly')]] == 1}}
        <br>CPU only
      {{ENDIF}}
      {{IF [[subTask.getVal('isSmall')]] == 1}}
        <br>Small Task
      {{ENDIF}}
    </td>
    {{IF [[subTask.getVal('keyspace')]] > 0}}
      <td class='num'>
        [[Util::showperc([[subTask.getVal('taskProgress')]], [[subTask.getVal('keyspace')]])]]% /
        [[Util::showperc([[subTask.getVal('sumProgress')]], [[subTask.getVal('keyspace')]])]]%
      </td>
    {{ELSE}}
      <td>&nbsp;</td>
    {{ENDIF}}
    <td class='num' style="min-width: 50px;">
      {{IF [[subTask.getVal('cracked')]] > 0 && [[accessControl.hasPermission([[$DAccessControl::VIEW_HASHES_ACCESS]])]]}}
        <a href="hashes.php?task=[[subTask.getVal('taskId')]]&filter=cracked">[[subTask.getVal('cracked')]] ([[subTask.getVal('performance')]]c/m)</a>
      {{ENDIF}}
      {{IF [[subTask.getVal('cracked')]] > 0 && ![[accessControl.hasPermission([[$DAccessControl::VIEW_HASHES_ACCESS]])]]}}
        [[subTask.getVal('cracked')]] ([[subTask.getVal('performance')]]c/m)
      {{ENDIF}}
    </td>
    <td class='num' style="min-width: 50px;">
      {{IF [[subTask.getVal('numAssignments')]] > 0}}
        [[subTask.getVal('numAssignments')]]
      {{ENDIF}}
    </td>
    <td style='min-width: 95px'>
      {{IF [[subTask.getVal('numFiles')]] > 0}}
        [[subTask.getVal('numFiles')]]
      {{ENDIF}}
      {{IF [[subTask.getVal('fileSecret')]]}}
        <span class="fas fa-lock" aria-hidden="true"></span>
      {{ENDIF}}
      {{IF [[subTask.getVal('numFiles')]] > 0}}
        <br>([[Util::nicenum([[subTask.getVal('filesSize')]])]]B)
      {{ENDIF}}
    </td>
    <td style='min-width: 130px'>
      {{IF [[accessControl.hasPermission([[$DAccessControl::MANAGE_TASK_ACCESS]])]]}}
        <form class="form-inline" action="tasks.php" method="POST">
          <input type='hidden' name='action' value='[[$DTaskAction::SET_PRIORITY]]'>
          <input type="hidden" name="task" value="[[subTask.getVal('taskId')]]">
          <input type="hidden" name="csrf" value="[[csrf]]">
          <input type="text" class='form-control' style='width: 60px;' name="priority" size="4" value="[[subTask.getVal('priority')]]" title="Priority">&nbsp;&nbsp;
          <input type="submit" class='btn btn-light' value="Set">
        </form>
      {{ELSE}}
        [[subTask.getVal('priority')]]
      {{ENDIF}}
    </td>
    <td style='min-width: 120px'>
      {{IF [[accessControl.hasPermission([[$DAccessControl::CREATE_TASK_ACCESS]])]]}}
        <form style ='float: left; padding-right: 5px;' action="tasks.php?new=true&copy=[[subTask.getVal('taskId')]]" method="post">
          <input type="submit" class='btn btn-light' value="Copy">
        </form>
        <form style ='float: left;' action="tasks.php" method="POST" onSubmit="if (!confirm('Really delete task [[subTask.getVal('taskId')]]?')) return false;">
          <input type="hidden" name="action" value="[[$DTaskAction::DELETE_TASK]]">
          <input type="hidden" name="csrf" value="[[csrf]]">
          <input type="hidden" name="task" value="[[subTask.getVal('taskId')]]">
          <input type="submit" class='btn btn-danger' value="X">
        </form>
      {{ENDIF}}
    </td>
  </tr>
{{ENDFOREACH}}