<tr style="background-color: rgba(0,0,0,0.1);">
  <td rel="popover" data-img="api/taskimg.php?supertask=[[set.getVal('taskWrapperId')]]&x=1200&y=6">&nbsp;</td>
  <td>
    [[set.getVal('supertaskName')]]
    [[Util::tickdone([[set.getVal('tasksDone')]], [[set.getVal('numTasks')]])]]
    {{IF [[set.getVal('isActive')]] == 1 && [[set.getVal('tasksDone')]] < [[set.getVal('numTasks')]]}}
      <img src="static/active.gif" alt="Active">
    {{ENDIF}}
  </td>
  <td>
    {{IF [[accessControl.hasPermission([[$DAccessControl::VIEW_HASHLIST_ACCESS]])]]}}
      <a href="hashlists.php?id=[[set.getVal('hashlistId')]]">[[set.getVal('hashlistName')]]</a>
    {{ELSE}}
      [[set.getVal('hashlistName')]]
    {{ENDIF}}
    {{IF [[set.getVal('hashlistSecret')]] == 1}}
      <span class="fas fa-lock" aria-hidden="true"></span>
    {{ENDIF}}
    {{IF [[set.getVal('hashCount')]] == [[set.getVal('hashlistCracked')]]}}
      [[Util::tickdone(1, 1)]]
    {{ELSE}}
      [[Util::tickdone(0, 1)]]
    {{ENDIF}}
  </td>
  <td>&nbsp;</td>
  <td class='num'>
    {{IF [[set.getVal('cracked')]] > 0}}
      [[set.getVal('cracked')]]
    {{ENDIF}}
  </td>
  <td class='num'>
    {{IF [[set.getVal('numAssignments')]] > 0}}
      [[set.getVal('numAssignments')]]
    {{ENDIF}}
  </td>
  <td style='min-width: 95px'>
    {{IF [[set.getVal('numFiles')]] > 0}}
      [[set.getVal('numFiles')]]
    {{ENDIF}}
    {{IF [[set.getVal('fileSecret')]]}}
      <span class="fas fa-lock" aria-hidden="true"></span>
    {{ENDIF}}
    {{IF [[set.getVal('numFiles')]] > 0}}
      <br>([[Util::nicenum([[set.getVal('filesSize')]])]]B)
    {{ENDIF}}
  </td>
  <td style='min-width: 130px'>
    {{IF [[accessControl.hasPermission([[$DAccessControl::MANAGE_TASK_ACCESS]])]]}}
      <form class="form-inline" action="tasks.php" method="POST">
        <input type='hidden' name='action' value='[[$DTaskAction::SET_SUPERTASK_PRIORITY]]'>
        <input type="hidden" name="supertaskId" value="[[set.getVal('taskWrapperId')]]">
        <input type="hidden" name="csrf" value="[[csrf]]">
        <input type="text" class='form-control' style='width: 60px;' name="priority" size="4" value="[[set.getVal('priority')]]" title="Priority">&nbsp;&nbsp;
        <input type="submit" class='btn btn-light' value="Set">
      </form>
    {{ELSE}}
      [[set.getVal('priority')]]
    {{ENDIF}}
  </td>
  <td style='min-width: 120px'>
    {{IF [[set.getVal('taskType')]] == 1}}
      <form style ='float: left; padding-right: 5px;'>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#task[[set.getVal('taskWrapperId')]]">Show Subtasks</button>
      </form>
    {{ENDIF}}
    {{IF [[accessControl.hasPermission([[$DAccessControl::MANAGE_TASK_ACCESS]])]]}}
      <form style ='float: left;' action="tasks.php" method="POST" onSubmit="if (!confirm('Really delete supertask [[set.getVal('taskWrapperId')]]?')) return false;">
        <input type="hidden" name="action" value="[[$DTaskAction::DELETE_SUPERTASK]]">
        <input type="hidden" name="supertaskId" value="[[set.getVal('taskWrapperId')]]">
        <input type="hidden" name="csrf" value="[[csrf]]">
        <input type="submit" class='btn btn-danger' value="X">
      </form>
    {{ENDIF}}

    <div class="modal fade" id="task[[set.getVal('taskWrapperId')]]" tabindex="-1" role="dialog" aria-labelledby="subtasks" aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Subtasks</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="card">
              <div class="table-nonfluid">
                <table class="table table-bordered table-subtask-border" style="margin-bottom: 0;">
                  <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Dispatched / Dispatched</th>
                    <th>Searched</th>
                    <th>Cracked</th>
                    <th>Agents</th>
                    <th>Files</th>
                    <th>Subtask Priority</th>
                    <th>Action</th>
                  </tr>
                  {%TEMPLATE->tasks/subtasks%}
                </table>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

  </td>
</tr>