{%TEMPLATE->struct/head%}
{%TEMPLATE->struct/menu%}
<h2>My Account ([[htmlentities([[user.getUsername()]], false, "UTF-8")]])</h2>
{%TEMPLATE->struct/messages%}
<div class="panel panel-default">
	<table class="table table-bordered table-nonfluid">
		<tr>
			<th>User type</th>
			<td>
				[[group.getGroupName()]]
			</td>
		</tr>
		<tr>
			<th>Register date</th>
			<td>
				[[date([[config.getVal(DConfig::TIME_FORMAT)]], [[user.getRegisteredSince()]])]]
			</td>
		</tr>
		<tr>
			<th>Email address</th>
			<td>
				<form class='form-inline' action="account.php" method="post">
       				<input type='hidden' name='action' value='setemail'>
       				<input type='email' name='email' class='form-control' value='[[user.getEmail()]]'>
       				<input type="submit" class='btn btn-default' value="Update">
       			</form>
			</td>	
		</tr>
		<tr>
			<th>Set session length</th>
			<td>
				<form class='form-inline' action="account.php" method="post">
       				<input type='hidden' name='action' value='updatelifetime'>
       				<input type='text' name='lifetime' class='form-control' value='[[user.getSessionLifetime()]]'> seconds
       				<input type="submit" class='btn btn-default' value="Update">
       			</form>
			</td>	
		</tr>
		<tr>
			<th>Password</th>
			<td>
				<form class='form-inline' action="account.php" method="post">
       				<input type='hidden' name='action' value='changepass'>
       				<input type='password' name='oldpass' class='form-control' placeholder='Old password here...'>
       				<input type='password' name='newpass' class='form-control' placeholder='New password here...'>
       				<input type='password' name='reppass' class='form-control' placeholder='Repeat password...'>
       				<input type="submit" class='btn btn-default' value="Change Password">
       			</form>
			</td>
		</tr>
		{{IF ![[Util::isYubikeyEnabled()]]}}
			<tr>
				<th>Yubikey OTP</th>
				<td>
					Yubikey is currently not configured to be used on this Hashtopussy installation. Please contact the admin as
					it needs to be enabled and set up on the server configuration.
				</td>
			</tr>
		{{ELSE}}
			<tr>
				<th>Enable/Disable Yubikey OTP</th>
					<td>
						{{IF [[user.getYubikey()]] == 1}}
							Yubikey OTP currently enabled
							<form class='form-inline' action="account.php" method="post">
								<input type='hidden' name='action' value='ykdisable'>
								<input type="submit" class='btn btn-warning' value="Disable">
							</form>
						{{ELSE}}
							Yubikey OTP is currently disabled
							<form class='form-inline' action="account.php" method="post">
								<input type='hidden' name='action' value='ykenable'>
								<input type="submit" class='btn btn-success' value="Enable">
							</form>
						{{ENDIF}}
					</td>
				</tr>
				<tr>
				<th>OTP KEY 1:</th>
					<td>
						<form class='form-inline' action="account.php" method="post">
							<input type='hidden' name='action' value='setotp1'>
							<input type='text' name='otp1' class='form-control' value='[[user.getOtp1()]]'>
							<input type="submit" class='btn btn-default' value="Update">
						</form>
					</td>
				</tr>
				<tr>
					<th>OTP KEY 2:</th>
					<td>
						<form class='form-inline' action="account.php" method="post">
							<input type='hidden' name='action' value='setotp2'>
							<input type='text' name='otp2' class='form-control' value='[[user.getOtp2()]]'>
							<input type="submit" class='btn btn-default' value="Update">
						</form>
					</td>
				</tr>
				<tr>
					<th>OTP KEY 3:</th>
					<td>
						<form class='form-inline' action="account.php" method="post">
							<input type='hidden' name='action' value='setotp3'>
							<input type='text' name='otp3' class='form-control' value='[[user.getOtp3()]]'>
							<input type="submit" class='btn btn-default' value="Update">
						</form>
					</td>
				</tr>
				<tr>
					<th>OTP KEY 4:</th>
					<td>
						<form class='form-inline' action="account.php" method="post">
							<input type='hidden' name='action' value='setotp4'>
							<input type='text' name='otp4' class='form-control' value='[[user.getOtp4()]]'>
							<input type="submit" class='btn btn-default' value="Update">
						</form>
				</td>
			</tr>
		{{ENDIF}}
	</table>
</div>
{%TEMPLATE->struct/foot%}
