{%TEMPLATE->struct/head%}
{%TEMPLATE->struct/menu%}
<h2>Chunk activity</h2>
<div class="panel panel-default">
	<table class="table table-bordered table-nonfluid">
		<tr>
			<th>ID</th>
			<th>Start</th>
			<th>Length</th>
			<th>Checkpoint</th>
			<th>Progress</th>
			<th>Task</th>
			<th>Agent</th>
			<th>Dispatch time</th>
			<th>Last activity</th>
			<th>Time spent</th>
			<th>State</th>
			<th>Cracked</th>
		</tr>
		{{FOREACH chunk;[[chunks]]}}
			<tr>
				<td>
					[[chunk.getId()]]
					{{IF [[max([[chunk.getSolveTime()]], [[chunk.getDispatchTime()]])]] > [[time()]] - [[config.getVal('chunktimeout')]] && [[chunk.getProgress()]] < [[chunk.getLength()]] && [[chunk.getState()]] < 4}}
						<img src="static/active.gif" alt="Active" title="[[Util::nicenum([[chunk.getSpeed()]], 100000, 1000)]]H/s">
					{{ENDIF}}
				</td>
				<td class="num">[[chunk.getSkip()]]</td>
				<td class="num">[[chunk.getLength()]]</td>
				<td class="num">
					[[chunk.getProgress()]]
					{{IF [[chunk.getProgress()]] > 0 && [[chunk.getProgress()]] != [[chunk.getLength()]]}}
						<br>([[Util::showperc([[chunk.getProgress()]], [[chunk.getLength()]])]]%)
					{{ENDIF}}
				</td>
				<td class="num">[[Util::showperc([[chunk.getRprogress()]], 10000)]]%</td>
				<td>
					{{IF [[chunk.getTaskId()]] == null}}
						N/A
					{{ELSE}}
						<a href="tasks.php?id=[[chunk.getTaskId()]]">[[taskNames.getVal([[chunk.getTaskId()]])]]</a>
					{{ENDIF}}
				</td>
				<td>
					{{IF [[chunk.getAgentId()]] == null}}
						N/A
					{{ENDIF}}
					{{IF [[chunk.getAgentId()]] != null && [[login.getLevel()]] >= 20}}
						<a href="agents.php?id=[[chunk.getAgentId()]]">[[agentNames.getVal([[chunk.getAgentId()]])]]</a>
					{{ENDIF}}
					{{IF [[chunk.getAgentId()]] != null && [[login.getLevel()]] < 20}}
						[[agentNames.getVal([[chunk.getAgentId()]])]]
					{{ENDIF}}
				</td>
				<td>
					[[date([[config.getVal(DConfig::TIME_FORMAT)]], [[chunk.getDispatchTime()]])]]
				</td>
				<td>
					{{IF [[chunk.getSolveTime()]] == 0}}
						(no activity)</td><td>
					{{ELSE}}
							[[date([[config.getVal(DConfig::TIME_FORMAT)]], [[chunk.getSolveTime()]])]]
            </td>
            <td class="num">
              [[Util::sectotime([[spent.getVal([[chunk.getId()]])]])]]
          {{ENDIF}}
        </td>
        <td>
          [[Util::getStaticArray([[chunk.getState()]], 'states')]]
        </td>
        <td class="num">
          {{IF [[chunk.getCracked()]] > 0}}
            <a href="hashes.php?chunk=[[chunk.getId()]]">[[chunk.getCracked()]]</a>
          {{ENDIF}}
        </td>
			</tr>
		{{ENDFOREACH}}
	</table>
</div>
{%TEMPLATE->struct/foot%}
