{%TEMPLATE->head%}
{%TEMPLATE->menu%}
<h2>Hashcat releases</h2>
[[message]]
<div class="panel panel-default">
	<table class="table table-bordered table-nonfluid">
		<tr>
			<th>Version</th>
			<th>Added</th>
			<th>URL</th>
			<th>Common files</th>
			<th>Specific files</th>
			<th>Root directory</th>
			<th>Req. driver</th>
			<th>Action</th>
		</tr>
		{{FOREACH release,!!releases!!}}
			<tr>
				<td>[[release.getVal('version')]]</td>
				<td>
					{{IF !!release.getVal('time')!! > 0}}
						[[date(%%config.getVal('timefmt')%%, %%release.getVal('time')%%)]]
					{{ENDIF}}
        		</td>
        		<td>
        			NVidia:<br>
        			<a href="[[release.getVal('url_nvidia')]]" target="_blank">[[basename(%%release.getVal('url_nvidia')%%)]]</a><br>
        			AMD:<br>
        			<a href="[[release.getVal('url_amd')]]" target="_blank">[[basename(%%release.getVal('url_amd')%%)]]</a>
        		</td>	
        		<td>[[release.getVal('common_files')]]</td>
        		<td>
        			NVidia 32: [[release.getVal('32_nvidia')]]<br>
        			NVidia 64: [[release.getVal('64_nvidia')]]<br>
        			AMD 32: [[release.getVal('32_amd')]]<br>
        			AMD 64: [[release.getVal('64_amd')]]
        		</td>
        		<td>
        			NVidia:<br>[[release.getVal('rootdir_nvidia')]]<br>
        			AMD:<br>[[release.getVal('rootdir_amd')]]
        		</td>
        		<td>
        			NVidia:<br>[[release.getVal('minver_nvidia')]]<br>
        			AMD:<br>[[release.getVal('minver_amd')]]
				</td>
				<td>
					{{IF !!login.getLevel()!! >= 30}}
						<form action="hashcat.php" method="POST" onSubmit="if (!confirm('Really delete Hashcat release [[release.getVal('version')]]?')) return false;">
					        <input type="hidden" name="action" value="releasedelete">
					        <input type="hidden" name="release" value="[[release.getVal('version')]]">
					        <input type="submit" class='btn btn-danger' value="Delete">
					    </form>
				    {{ENDIF}}
				</td>
			</tr>
		{{ENDFOREACH}}
	</table>
</div>
{%TEMPLATE->foot%}