{%TEMPLATE->install_head%}
<p>
	User should be created successfully now. <br>
	Your installation should be complete now. Please make sure that you protect or delete the 'install' folder. If you use apache2, make sure
	you have the 'AllowOverride All' set for the Hashtopussy directory, if you use nginx make sure to protect these folders: files, inc, lang, models, templates.
	These directories can be deleted (as they are from Hashtopus and not needed anymore):<br>
	TODO<br><br>
	To protect your password, please remove the old authentication hash in the 'config' table as soon as Hashtopussy is working, as there a weak
	hashing method is used!
</p>
<p>
	<a href='../index.php'><button>Continue</button></a>
</p>
{%TEMPLATE->install_foot%}