<h3>Dispatched chunks {{IF !!task.getVal('filter')!! != 1}}(showing active only - <a href="tasks.php?id=[[task.getVal('id')]]&all=1">show latest 100</a>){{ENDIF}}{{IF !!task.getVal('filter')!! == 1}}(show latest 100){{ENDIF}}</h3>
<div class="panel panel-default">
	<table class="table table-bordered table-nonfluid">
		<tr>
			<th>ID</th>
			<th>Start</th>
			<th>Length</th>
			<th>Checkpoint</th>
			<th>Progress</th>
			<th>Agent</th>
			<th>Dispatch time</th>
			<th>Last activity</th>
			<th>Time spent</th>
			<th>State</th>
			<th>Cracked</th>
			<th>Action</th>
		</tr>
		{{FOREACH chunk,!!chunks!!}}
			<tr>
				<td>
					[[chunk.getVal('id')]]
					{{IF !!chunk.getVal('active')!!}}
						<img src="static/active.gif" alt="Active">
					{{ENDIF}}
         			</td>
         			<td class="num">[[chunk.getVal('skip')]]</td>
         			<td class="num">[[chunk.getVal('length')]]</td>
         			<td class="num">
         				[[chunk.getVal('progress')]]
         				{{IF !!chunk.getVal('progress')!! > 0 && !!chunk.getVal('progress')!! != !!chunk.getVal('length')!!}}
         					([[Util::showperc(%%chunk.getVal('progress')%%, %%chunk.getVal('length')%%)]]%)
         				{{ENDIF}}
         			</td>
         			<td class="num">
         				[[Util::showperc(%%chunk.getVal('rprogress')%%, 10000)]]%
         			</td>
         			<td>
         				{{IF !!chunk.getVal('agent')!! == ""}}
         					N/A
         				{{ENDIF}}
         				{{IF !!chunk.getVal('agent')!! != ""}}
         					<a href="agents.php?id=[[chunk.getVal('agent')]]">[[chunk.getVal('name')]]</a>
         				{{ENDIF}}
         			</td>
         			<td>
         				[[date(%%config.getVal('timefmt')%%, %%chunk.getVal('dispatchtime')%%)]]
         			</td>
         			<td>
         				{{IF !!chunk.getVal('solvetime')!! == 0}}
         					(no activity)</td><td>
         				{{ENDIF}}
         				{{IF !!chunk.getVal('solvetime')!! != 0}}
         					[[date(%%config.getVal('timefmt')%%, %%chunk.getVal('solvetime')%%)]]
         					</td><td class='num'>
         					[[Util::sectotime(%%chunk.getVal('spent')%%)]]
         				{{ENDIF}}
         			</td>
         			<td>
         				[[Util::getStaticArray(%%chunk.getVal('state')%%, 'states')]]
         			</td>
         			<td class="num">
         				{{IF !!chunk.getVal('cracked')!! > 0 && !!login.getLevel()!! >= 5}}
         					<a href="hashes.php?chunk=[[chunk.getVal('id')]]">[[chunk.getVal('cracked')]]</a>
         				{{ENDIF}}
         				{{IF !!chunk.getVal('cracked')!! > 0 && !!login.getLevel()!! < 5}}
         					[[chunk.getVal('cracked')]]
         				{{ENDIF}}
         			</td>
         			<td>
         				{{IF !!chunk.getVal('active')!! == false && !!login.getLevel()!! >= 20}}
         					<form action="tasks.php?id=[[task.getVal('id')]]" method="POST" onSubmit="if (!confirm('Really reset chunk [[chunk.getVal('id')]]?')) return false;">
							<input type="hidden" name="action" value="chunkreset">
							<input type="hidden" name="chunk" value="[[chunk.getVal('id')]]">
							<input type="submit" class='btn btn-default' value="Reset">
						</form>
         				{{ENDIF}}
         				{{IF !!chunk.getVal('active')!! && !!login.getLevel()!! >= 20}}
         					<form action="tasks.php?id=[[task.getVal('id')]]" method="POST" onSubmit="if (!confirm('Really abort cracking chunk [[chunk.getVal('id')]]?')) return false;">
							<input type="hidden" name="action" value="chunkabort">
							<input type="hidden" name="chunk" value="[[chunk.getVal('id')]]">
							<input type="submit" class='btn btn-danger' value="Abort">
						</form>
         				{{ENDIF}}
         			</td>
         		</tr>
		{{ENDFOREACH}}
	</table>
</div>