{%TEMPLATE->struct/head%}
{%TEMPLATE->struct/menu%}
<h2>Create new hashcat release</h2>
{%TEMPLATE->struct/messages%}
<form action='hashcat.php?new=true' method='post' enctype='multipart/form-data'>
	<input type='hidden' name='action' value='[[$DHashcatAction::CREATE_RELEASE]]'>
	<input type="hidden" name="csrf" value="[[csrf]]">
	<div class="panel panel-default">
		<table class="table table-bordered table-nonfluid">
			<tr>
				<th>Property</th>
			</tr>
			<tr>
				<td>Version:</td>
				<td>
					<input type="text" class='form-control' name="version">
				</td>
			</tr>
			<tr>
				<td>Archive URL:</td>
				<td>
					<input type="text" name="url" class='form-control'>
				</td>
			</tr>
			<tr>
				<td>
					Archive root directory:
				</td>
				<td>
					<input type="text" class='form-control' name="rootdir" value="[[rootDir]]" placeholder="hashcat-x.xx">
				</td>
			</tr>
			<tr>
				<td colspan="2">
					<input type="submit" class='btn btn-default' value="Create release">
				</td>
			</tr>
		</table>
	</div>
</form>
{%TEMPLATE->struct/foot%}
