{{IF [[login.getLevel()]] >= 20}}
  <h3>Create pre-configured tasks:</h3>
  <form id="preconf" action="hashlists.php?id=[[list.getVal('hashlist')->getId()]]" method="POST">
    <input type='hidden' name='action' value='preconf'>
    <input type="hidden" name="hashlist" value="[[list.getVal('hashlist')->getId()]]">
    <div class="panel panel-default">
      <table class="table table-bordered table-nonfluid">
        <tr>
          <th class="col-md-1">ID</th>
          <th class="col-md-1">Color</th>
          <th>Name</th>
        </tr>
        {{FOREACH task;[[preTasks]]}}
          <tr>
            <td>
              <a href="tasks.php?id=[[task.getId()]]">[[task.getId()]]</a>
            </td>
            <td{{IF [[strlen([[task.getColor()]])]] > 0}} style="background-color: #[[task.getColor()]]""{{ENDIF}}>
              &nbsp;
            </td>
            <td>
              <input type="checkbox" name="task[]" value="[[task.getId()]]">
              <a href="tasks.php?id=[[task.getId()]]" title="[[htmlentities([[task.getAttackCmd()]], false, "UTF-8")]]">[[task.getTaskName()]]</a>
            </td>
          </tr>
        {{ENDFOREACH}}
        <tr>
          <td colspan="2">
            <input type="submit" class='btn btn-default' value="Create">
            <input type="checkbox" onChange="javascript:checkAll('preconf', this.checked);"> Select All
          </td>
        </tr>
      </table>
    </div>
  </form>
{{ENDIF}}