<h3>Hashlists included in this superhashlist:</h3>
<div class="card">
  <div class="table-responsive">
    <table class="table table-bordered">
		  <tr>
			  <th>ID</th>
			  <th>Name</th>
			  <th>Cracked</th>
		  </tr>
		  {{FOREACH sublist;[[sublists]]}}
			  <tr>
				  <td>
					  <a href="hashlists.php?id=[[sublist.getVal('hashlist')->getId()]]">[[sublist.getVal('hashlist')->getId()]]</a>
				  </td>
				  <td>
					  <a href="hashlists.php?id=[[sublist.getVal('hashlist')->getId()]]">[[sublist.getVal('hashlist')->getHashlistName()]]</a>
					  {{IF [[sublist.getVal('hashlist')->getIsSecret()]] == 1}}
              <span class="fas fa-lock" aria-hidden="true"></span>
					  {{ENDIF}}
					  [[Util::tickdone([[sublist.getVal('hashlist')->getCracked()]], [[sublist.getVal('hashlist')->getHashCount()]])]]
				  </td>
				  <td class="num">
					  [[Util::showperc([[sublist.getVal('hashlist')->getCracked()]], [[sublist.getVal('hashlist')->getHashCount()]])]]%<br>
					  (<a href="hashes.php?hashlist=[[sublist.getVal('hashlist')->getId()]]&filter=cracked">[[sublist.getVal('hashlist')->getCracked()]]</a>
					  / <a href="hashes.php?hashlist=[[sublist.getVal('hashlist')->getId()]]">[[sublist.getVal('hashlist')->getHashCount()]]</a>)
				  </td>
			  </tr>
		  {{ENDFOREACH}}
	  </table>
  </div>
</div>

	