{%TEMPLATE->struct/head%}
{%TEMPLATE->struct/menu%}
<h2>Supertask Details</h2>
{%TEMPLATE->struct/messages%}
{{IF ! [[supertask]]}}
	<div class='alert alert-danger'>Invalid supertask!</div>
{{ELSE}}
	<div class="panel panel-default">
		<table class="table table-bordered table-nonfluid">
			<tr>
				<th>ID</th>
        <td></td>
      </tr>
      <tr>
				<th>Name</th>
      </tr>
      <tr>
				<th>Tasks</th>
      </tr>
      <tr>
				<th>Actions</th>
			</tr>
		</table>
	</div>
{{ENDIF}}
{%TEMPLATE->struct/foot%}
