{%TEMPLATE->struct/head%}
{%TEMPLATE->struct/menu%}
<h2>Supertasks ([[sizeof([[supertasks]])]])</h2>
{%TEMPLATE->struct/messages%}
<div class="panel panel-default">
	<table class="table table-bordered table-nonfluid">
		<tr>
			<th>ID</th>
			<th>Name</th>
			<th class="right">Actions</th>
		</tr>
		{{FOREACH supertask;[[supertasks]]}}
			<tr>
				<td><a href="supertasks.php?id=[[supertask.getId()]]">[[supertask.getId()]]</a></td>
				<td><a href="supertasks.php?id=[[supertask.getId()]]">[[supertask.getSupertaskName()]]</a></td>
				<td class="right">
          <form style ='float: right;' action="supertasks.php" method="POST" onSubmit="if (!confirm('Really delete supertasktask [[supertask.getId()]]?')) return false;">
            <input type="hidden" name="action" value="taskdelete">
            <input type="hidden" name="supertask" value="[[supertask.getId()]]">
            <input type="submit" class='btn btn-danger' value="X">
          </form>
					<form style ='float: right; padding-right: 5px;'>
						<a class="btn btn-primary accordion-toggle" role="button" href="#" data-toggle="collapse" data-target="#supertask[[supertask.getId()]]">Show/Hide</a>
					</form>
					<form style ='float: right; padding-right: 5px;' action="supertasks.php?new=true&id=[[supertask.getId()]]" method="post">
						<input type="submit" class='btn btn-default' value="Apply to Hashlist">
					</form>
				</td>
			</tr>
			<tr>
				<td colspan="3" class="hiddenRow">
					<div id="supertask[[supertask.getId()]]" class="accordian-body collapse" style="margin: 10px;">
						<div class="panel panel-default" style="margin-bottom: 0;">
							<table class="table table-bordered table-nonfluid table-subtask-border">
								<tr>
									<th>ID</th>
									<th>Name</th>
									<th>Files</th>
									<th>Subtask Priority</th>
									<th class="right">Action</th>
								</tr>
								{{FOREACH task;[[tasks.getVal([[supertask.getId()]])]]}}
									<tr>
										<td>[[task.getId()]]</td>
										<td><a href="tasks.php?id=[[task.getId()]]">[[task.getTaskName()]]</a></td>
										<td>TODO...</td>
										<td>
											{{IF [[login.getLevel()]] >= 20}}
												<form class="form-inline" action="tasks.php" method="POST">
													<input type='hidden' name='action' value='taskprio'>
													<input type="hidden" name="task" value="[[task.getId()]]">
													<input type="text" class='form-control' style='width: 60px;' name="priority" size="4" value="[[task.getPriority()]]">
													<input type="submit" class='btn btn-default' value="Set">
												</form>
											{{ELSE}}
												[[subTask.getVal('Task')->getPriority()]]
											{{ENDIF}}
										</td>
										<td class="right">
											{{IF [[login.getLevel()]] >= 30}}
												<form style ='float: right;' action="tasks.php" method="POST" onSubmit="if (!confirm('Really delete task [[task.getId()]]?')) return false;">
													<input type="hidden" name="action" value="taskdelete">
													<input type="hidden" name="task" value="[[task.getId()]]">
													<input type="submit" class='btn btn-danger' value="X">
												</form>
											{{ENDIF}}
										</td>
									</tr>
								{{ENDFOREACH}}
							</table>
						</div>
					</div>
				</td>
			</tr>
		{{ENDFOREACH}}
	</table>
</div>
{%TEMPLATE->struct/foot%}
