{%TEMPLATE->struct/head%}
{%TEMPLATE->struct/menu%}
<h2>Supertasks ([[sizeof([[supertasks]])]])</h2>
{%TEMPLATE->struct/messages%}
<div class="panel panel-default">
	<table class="table table-bordered table-nonfluid">
		<tr>
			<th>ID</th>
			<th>Name</th>
			<th>Tasks</th>
			<th>Actions</th>
		</tr>
		{{FOREACH supertask;[[supertasks]]}}
			<tr>
				<td><a href="supertasks.php?id=[[supertask.getId()]]">[[supertask.getId()]]</a></td>
				<td><a href="supertasks.php?id=[[supertask.getId()]]">[[supertask.getSupertaskName()]]</a></td>
				<td>
					{{FOREACH task;[[tasks.getVal([[supertask.getId()]])]]}}
						<a href="tasks.php?id=[[task.getId()]]">[[task.getTaskName()]]</a><br>
					{{ENDFOREACH}}
				</td>
				<td>
					<form style ='float: left; padding-right: 5px;' action="supertasks.php?new=true&id=[[supertask.getId()]]" method="post">
						<input type="submit" class='btn btn-default' value="Copy">
					</form>
          <form style ='float: left;' action="supertasks.php" method="POST" onSubmit="if (!confirm('Really delete supertasktask [[supertask.getId()]]?')) return false;">
            <input type="hidden" name="action" value="taskdelete">
            <input type="hidden" name="supertask" value="[[supertask.getId()]]">
            <input type="submit" class='btn btn-danger' value="X">
          </form>
				</td>
			</tr>
		{{ENDFOREACH}}
	</table>
</div>
{%TEMPLATE->struct/foot%}
