		</div>
		<div class='container'>
			<hr>
			<footer class="footer">
				<b>Hashtopussy: [[gitcommit]] [[version]] - <a href='about.php'>About</a> - <a href='help.php'>Help</a></b>
				<p>
					{{IF [[config.getVal("donateOff")]] != 1}}
						<br>Support us: BTC 15gi3X5L4VPa5S2yygztYaN7MF7VA26Zaf - ETH 0x06B3Ae7561AD763eF58Df9C37deB6757bDA2BC0c - <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=7P3KXV8DQ5XKE" target="_blank">PayPal</a>
					{{ENDIF}}
					&copy;2016-[[date("Y")]] s3in!c - <a href='https://github.com/s3inlc/hashtopussy/' target='_blank'>Hashtopussy</a>
				</p>
			</footer>
			<script src="static/bootstrap.min.js"></script>
			<script src="static/hashtopussy.js"></script>
		</div>
	</body>
</html>