		</div>
		<div class='container'>
			<hr>
			<footer class="footer">
				<b>
					[[$APP_NAME]]: [[version]]{{IF [[build]]}}+[[build]]{{ENDIF}} [[gitcommit]] - <a href='about.php'>About</a> - <a href='help.php'>Help</a>
					{{IF strlen([[config.getVal([[$DConfig::CONTACT_EMAIL]])]]) > 0}}
						- <a href="mailto:[[config.getVal([[$DConfig::CONTACT_EMAIL]])]]">Contact Admin</a>
					{{ENDIF}}
				</b>
				<p>
					&copy;2016-[[date("Y")]] s3in!c - <a href='https://github.com/hashtopolis/server' target='_blank' rel="noopener">[[$APP_NAME]]</a>
				</p>
			</footer>
			<script src="static/hashtopolis.js"></script>
		  <script src="static/all.js"></script>
		</div>
	</body>
</html>