		</div>
		<div class='container'>
			<hr>
			<footer class="footer">
				<b>
					[[$APP_NAME]]: [[gitcommit]] [[version]]+[[build]] - <a href='about.php'>About</a> - <a href='help.php'>Help</a>
					{{IF strlen([[config.getVal([[$DConfig::CONTACT_EMAIL]])]]) > 0}}
						- <a href="mailto:[[config.getVal([[$DConfig::CONTACT_EMAIL]])]]">Contact Admin</a>
					{{ENDIF}}
				</b>
				<p>
					{{IF [[config.getVal("donateOff")]] != 1}}
						Support us: BTC 15gi3X5L4VPa5S2yygztYaN7MF7VA26Zaf - ETH 0x06B3Ae7561AD763eF58Df9C37deB6757bDA2BC0c - <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=7P3KXV8DQ5XKE" target="_blank" rel="noreferrer">PayPal</a><br>
					{{ENDIF}}
					&copy;2016-[[date("Y")]] s3in!c - <a href='https://github.com/s3inlc/hashtopolis/' target='_blank' rel="noopener">[[$APP_NAME]]</a>
				</p>
			</footer>
			<script src="static/hashtopolis.js"></script>
		  <script src="static/all.js"></script>
		</div>
	</body>
</html>