{%TEMPLATE->struct/head%}
{%TEMPLATE->struct/menu%}
<h2>Create new binary type</h2>
{%TEMPLATE->struct/messages%}
<form action='' method='post'>
	<input type='hidden' name='action' value='[[$DCrackerBinaryAction::CREATE_BINARY_TYPE]]'>
	<input type="hidden" name="csrf" value="[[csrf]]">
	<div class="panel panel-default">
		<table class="table table-bordered table-nonfluid">
			<tr>
				<td>Binary Type Name:</td>
				<td>
					<input type="text" class='form-control' name="name" title="Name">
				</td>
			</tr>
			<tr>
				<td colspan="2" class="text-center">
					<input type="submit" class='btn btn-default' value="Create binary type">
				</td>
			</tr>
		</table>
	</div>
</form>
{%TEMPLATE->struct/foot%}
