{%TEMPLATE->struct/head%}
{%TEMPLATE->struct/menu%}
<h2>Create new binary version</h2>
{%TEMPLATE->struct/messages%}
<form action='' method='post'>
	<input type='hidden' name='action' value='[[$DCrackerBinaryAction::CREATE_BINARY]]'>
	<input type="hidden" name="csrf" value="[[csrf]]">
	<div class="panel panel-default">
		<table class="table table-bordered table-nonfluid">
			<tr>
				<td>Binary Version:</td>
				<td>
					<input type="text" class='form-control' name="version" title="Version">
				</td>
			</tr>
			<tr>
				<td>Binary Name (which needs to be called on the client):</td>
				<td>
					<input type="text" class='form-control' name="name" title="Name">
				</td>
			</tr>
			<tr>
				<td>Download URL (where the client can download a zip with the binary):</td>
				<td>
					<input type="text" class='form-control' name="url" title="URL">
				</td>
			</tr>
			<tr>
				<td colspan="2" class="text-center">
					<input type="submit" class='btn btn-default' value="Create binary">
				</td>
			</tr>
		</table>
	</div>
</form>
{%TEMPLATE->struct/foot%}
