{{IF [[deviceGpuTempAvailable]] > 0}}
    <hr>
    <h3>Device(s) GPU Temperature</h3>
    <div class="row">
        <div class="col col-12">
            <canvas id="deviceGpuTemp"></canvas>
        </div>
    </div>
    <script type="text/javascript">
        var configTemp = {
            type: 'line',
            data: {
                labels: [[deviceGpuTempXLabels]],
                datasets: [[deviceGpuTemp]]
            },
            options: {
                responsive: true,
                maintainAspectRatio: true,
                tooltips: {
                    mode: 'index',
                    intersect: false
                },
                hover: {
                    mode: 'nearest',
                    intersect: true
                },
                scales: {
                    xAxes: [{
                        display: true,
                        scaleLabel: {
                            display: true,
                            labelString: 'Time'
                        }
                    }],
                    yAxes: [[deviceGpuTempAxes]]
                }
            }
        };
        $( document ).ready(function() {
            new Chart(document.getElementById('deviceGpuTemp').getContext('2d'), configTemp);
        });
    </script>
{{ELSE}}
    <hr>
    <i>GPU temperature data unavailable</i>
{{ENDIF}}

{{IF [[deviceGpuUtilAvailable]] > 0}}
    <hr>
    <h3>Device(s) GPU utilisation</h3>
    <div class="row">
        <div class="col col-12">
            <canvas id="deviceGpuUtil"></canvas>
        </div>
    </div>
    <script type="text/javascript">
        var configUtil = {
            type: 'line',
            data: {
                labels: [[deviceGpuUtilXLabels]],
                datasets: [[deviceGpuUtil]]
            },
            options: {
                responsive: true,
                maintainAspectRatio: true,
                tooltips: {
                    mode: 'index',
                    intersect: false
                },
                hover: {
                    mode: 'nearest',
                    intersect: true
                },
                scales: {
                    xAxes: [{
                        display: true,
                        scaleLabel: {
                            display: true,
                            labelString: 'Time'
                        }
                    }],
                    yAxes: [[deviceGpuUtilAxes]]
                }
            }
        };
        $( document ).ready(function() {
            new Chart(document.getElementById('deviceGpuUtil').getContext('2d'), configUtil);
        });
    </script>
{{ELSE}}
    <hr>
    <i>GPU utilisation data unavailable</i>
{{ENDIF}}

{{IF [[deviceCpuUtilAvailable]] > 0}}
    <hr>
    <h3>Agent average CPU utilisation</h3>
    <div class="row">
        <div class="col col-12">
            <canvas id="deviceCpuUtil"></canvas>
        </div>
    </div>
    <script type="text/javascript">
        var configCpuUtil = {
            type: 'line',
            data: {
                labels: [[deviceCpuUtilXLabels]],
                datasets: [[deviceCpuUtil]]
            },
            options: {
                responsive: true,
                maintainAspectRatio: true,
                tooltips: {
                    mode: 'index',
                    intersect: false
                },
                hover: {
                    mode: 'nearest',
                    intersect: true
                },
                scales: {
                    xAxes: [{
                        display: true,
                        scaleLabel: {
                            display: true,
                            labelString: 'Time'
                        }
                    }],
                    yAxes: [[deviceCpuUtilAxes]]
                }
            }
        };
        $( document ).ready(function() {
            new Chart(document.getElementById('deviceCpuUtil').getContext('2d'), configCpuUtil);
        });
    </script>
{{ELSE}}
    <hr>
    <i>CPU utilisation data unavailable</i>
{{ENDIF}}