{%TEMPLATE->struct/head%}
{%TEMPLATE->struct/menu%}
<h2>Agent details</h2>
{%TEMPLATE->struct/messages%}
<div class="panel panel-default">
  <table class="table table-bordered table-nonfluid">
    <tr>
      <td>Property</td>
      <td>Value</td>
    </tr>
    <tr>
      <td>ID</td>
      <td>[[agent.getId()]]</td>
    </tr>
    {{IF [[login.getLevel()]] >= 30}}
      <tr>
        <td>Owner</td>
        <td>
          <form class='form-inline' action="agents.php?id=[[agent.getId()]]" method="post">
            <input type='hidden' name='action' value='[[$DAgentAction::SET_OWNER]]'>
            <input type='hidden' name='agentId' value='[[agent.getId()]]'>
            <input type="hidden" name="csrf" value="[[csrf]]">
            <select class='form-control' name='owner' title="owner">
              <option value="">---</option>
              {{FOREACH user;[[users]]}}
                <option value='[[user.getId()]]'{{IF [[user.getId()]] == [[agent.getUserId()]]}} selected{{ENDIF}}>[[htmlentities([[user.getUsername()]], ENT_QUOTES, "UTF-8")]]</option>
              {{ENDFOREACH}}
            </select>
            <input type="submit" class='btn btn-default' value="Update Owner">
          </form>
        </td>
      </tr>
    {{ENDIF}}
    <tr>
      <td>Activity:</td>
      <td>
        {{IF [[agent.getUserId()]] == [[login.getUserId()]] || [[login.getLevel()]] >= 30}}
          <form id="active[[agent.getId()]]" action="agents.php?id=[[agent.getId()]]" method="post">
            <input type='hidden' name='action' value='[[$DAgentAction::SET_ACTIVE]]'>
            <input type="hidden" name="agentId" value="[[agent.getId()]]">
            <input type="hidden" name="csrf" value="[[csrf]]">
            <input type="checkbox" {{IF [[agent.getIsActive()]] == 1}} checked{{ENDIF}} onChange="javascript:document.getElementById('active[[agent.getId()]]').submit();">
          </form>
        {{ELSE}}
          <input type="checkbox" {{IF [[agent.getIsActive()]] == 1}} checked{{ENDIF}} disabled>
        {{ENDIF}}
      </td>
    </tr>

    <tr>
      <td>Machine name:</td>
      <td>
        {{IF [[agent.getUserId()]] == [[login.getUserId()]] || [[login.getLevel()]] >= 30}}
          <form class='form-inline' id="name[[agent.getId()]]" action="agents.php?id=[[agent.getId()]]" method="post">
            <input type='hidden' name='action' value='[[$DAgentAction::RENAME_AGENT]]'>
            <input type="hidden" name="agentId" value="[[agent.getId()]]">
            <input type="hidden" name="csrf" value="[[csrf]]">
            <input type="text" name='name' value="[[agent.getAgentName()]]" class='form-control'>&nbsp;&nbsp;
            <input type='submit' class='btn btn-default' value='Change'>
          </form>
        {{ELSE}}
          <input type="text" name='name' value="[[agent.getAgentName()]]" class='form-control' readonly>
        {{ENDIF}}
      </td>
    </tr>

    <tr>
      <td>Operating system:</td>
      <td>[[Util::getStaticArray([[agent.getOs()]], 'os')]]</td>
    </tr>
    <tr>
      <td>Access token:</td>
      <td>[[agent.getToken()]]</td>
    </tr>
    <tr>
      <td>Machine ID:</td>
      <td>[[agent.getUid()]]</td>
    </tr>
    <tr>
      <td>CPU only agent:</td>
      <td>
        {{IF [[agent.getUserId()]] == [[login.getUserId()]] || [[login.getLevel()]] >= 30}}
          <form class='form-inline' action="agents.php?id=[[agent.getId()]]" method="post">
            <input type='hidden' name='action' value='[[$DAgentAction::SET_CPU]]'>
            <input type='hidden' name='agentId' value='[[agent.getId()]]'>
            <input type="hidden" name="csrf" value="[[csrf]]">
            <select class='form-control' name='cpuOnly' title="cpuOnly">
              <option value="0"{{IF [[agent.getCpuOnly()]] == 0}}selected{{ENDIF}}>No</option>
              <option value="1"{{IF [[agent.getCpuOnly()]] == 1}}selected{{ENDIF}}>Yes</option>
            </select>
            <input type="submit" class='btn btn-default' value="Set">
          </form>
        {{ELSE}}
          <input type="text" name='name' value="{{IF [[agent.getCpuOnly()]] == 0}}No{{ELSE}}Yes{{ENDIF}}" class='form-control' readonly title="cpuOnly">
        {{ENDIF}}
      </td>
    </tr>
    <tr>
      <td>Graphic cards:</td>
      <td>[[str_replace("\n","<br>",[[agent.getDevices()]])]]</td>
    </tr>
    <tr>
      <td>Member of access groups:</td>
      <td>
        {{FOREACH accessGroup;[[accessGroups]]}}
          [[accessGroup.getGroupName()]]<br>
        {{ENDFOREACH}}
      </td>
    </tr>
    <tr>
      <td>Extra parameters:</td>
      <td>
        {{IF [[agent.getUserId()]] == [[login.getUserId()]] || [[login.getLevel()]] >= 30}}
          <form class='form-inline' action="agents.php?id=[[agent.getId()]]" method="POST">
            <input type="hidden" name="agentId" value="[[agent.getId()]]">
            <input type="hidden" name="action" value="[[$DAgentAction::SET_PARAMETERS]]">
            <input type="hidden" name="csrf" value="[[csrf]]">
            <input type="text" class='form-control' name="cmdpars" value="[[agent.getCmdPars()]]" size="30">
            <input type="submit" class='btn btn-default' value="Set">
          </form>
        {{ELSE}}
          <input type="text" class='form-control' name="cmdpars" value="[[agent.getCmdPars()]]" size="30" readonly>
        {{ENDIF}}
      </td>
    </tr>
    <tr>
      <td>Cracker errors:</td>
      <td>
        {{IF [[agent.getUserId()]] == [[login.getUserId()]] || [[login.getLevel()]] >= 30}}
          <form id="agentignore" action="agents.php?id=[[agent.getId()]]" method="post">
            <input type='hidden' name='action' value='[[$DAgentAction::SET_IGNORE]]'>
            <input type="hidden" name="agentId" value="[[agent.getId()]]">
            <input type="hidden" name="csrf" value="[[csrf]]">
            <input type="checkbox" name='ignore' value='1'{{IF [[agent.getIgnoreErrors()]] == 1}} checked{{ENDIF}} onChange="javascript:document.getElementById('agentignore').submit();">
            Ignore <br><i>(Be careful, this might lead to endless loops!)</i>
          </form>
        {{ELSE}}
          <input type="checkbox" name='ignore' value='1'{{IF [[agent.getIgnoreErrors()]] == 1}} checked{{ENDIF}} disabled>
        {{ENDIF}}
      </td>
    </tr>
    <tr>
      <td>Trust:</td>
      <td>
        {{IF [[login.getLevel()]] >= 30}}
          <form id="agenttrusted" action="agents.php?id=[[agent.getId()]]" method="post">
            <input type='hidden' name='action' value='[[$DAgentAction::SET_TRUSTED]]'>
            <input type="hidden" name="agentId" value="[[agent.getId()]]">
            <input type="hidden" name="csrf" value="[[csrf]]">
            <input type="checkbox" name='trusted' value='1'{{IF [[agent.getIsTrusted()]] == 1}} checked{{ENDIF}} onChange="javascript:document.getElementById('agenttrusted').submit();">
            Trust agent with secret data
          </form>
        {{ELSE}}
          <input type="checkbox" name='trusted' value='1'{{IF [[agent.getIsTrusted()]] == 1}} checked{{ENDIF}} disabled>
          Trust agent with secret data
        {{ENDIF}}
      </td>
    </tr>
    <tr>
      <td>Assignment:</td>
      <td>
        <form class='form-inline' action="agents.php?id=[[agent.getId()]]" method="post">
          <input type='hidden' name='action' value='[[$DAgentAction::ASSIGN_AGENT]]'>
          <input type='hidden' name='agent' value='[[agent.getId()]]'>
          <input type="hidden" name="csrf" value="[[csrf]]">
          <select class='form-control' name='task'>
            <option value="">(unassigned)</option>
            {{FOREACH task;[[allTasks]]}}
              <option value='[[task.getId()]]'{{IF [[task.getId()]] == [[currentTask]]}} selected{{ENDIF}}>[[task.getTaskName()]]</option>
            {{ENDFOREACH}}
          </select>
          <input type="submit" class='btn btn-default' value="Assign">
        </form>
      </td>
    </tr>
    <tr>
      <td>Last activity:</td>
      <td>
        Action: [[agent.getLastAct()]]<br>
        Time: [[date([[config.getVal(DConfig::TIME_FORMAT)]], [[agent.getLastTime()]])]]<br>
        IP: <code>[[agent.getLastIp()]]</code>
      </td>
    </tr>
    <tr>
      <td>Time spent cracking:</td>
      <td>[[Util::sectotime([[timeSpent]])]]</td>
    </tr>
  </table>
</div>
{{IF [[sizeof([[errors]])]] > 0}}
  <h3>Error messages:</h3>
  {{IF [[login.getLevel()]] >= 30}}
    <form action="agents.php?id=[[agent.getId()]]" method='post' class='form-inline'>
      <input type='hidden' name='action' value='[[$DAgentAction::CLEAR_ERRORS]]'>
      <input type='hidden' name='agent' value="[[agent.getId()]]">
      <input type="hidden" name="csrf" value="[[csrf]]">
      <input type='submit' class='btn btn-danger' value='Delete All'>
    </form>
  {{ENDIF}}
  <br>
  <div class="panel panel-default">
    <table class="table table-bordered table-nonfluid">
      <tr>
        <th>Time</th>
        <th>Task</th>
        <th>Chunk</th>
        <th>Message</th>
      </tr>
      {{FOREACH error;[[errors]]}}
        <tr>
          <td>[[date([[config.getVal(DConfig::TIME_FORMAT)]], [[error.getTime()]])]]</td>
          <td>
            {{IF [[error.getTaskId()]] == null}}
              N/A
            {{ELSE}}
              <a href="tasks.php?id=[[error.getTaskId()]]">[[error.getTaskId()]]</a>
            {{ENDIF}}
          </td>
          <td>
            [[error.getId()]]
          </td>
          <td style="white-space: normal;">
            [[error.getError()]]
          </td>
        </tr>
      {{ENDFOREACH}}
    </table>
  </div>
{{ENDIF}}
<h3>Dispatched chunks:</h3>
<div class="panel panel-default">
  <table class="table table-bordered table-nonfluid">
    <tr>
      <th>ID</th>
      <th>Start</th>
      <th>Length</th>
      <th>Checkpoint</th>
      <th>Progress</th>
      <th>Task</th>
      <th>Dispatch time</th>
      <th>Last activity</th>
      <th>Time spent</th>
      <th>State</th>
      <th>Cracked</th>
    </tr>
    {{FOREACH chunk;[[chunks]]}}
      <tr>
        <td>[[chunk.getId()]]</td>
        <td class='num'>[[chunk.getSkip()]]</td>
        <td class='num'>[[chunk.getLength()]]</td>
        <td class='num'>
          [[chunk.getProgress()]]
          {{IF [[chunk.getProgress()]] > 0 && [[chunk.getProgress()]] != [[chunk.getLength()]]}}
            <br>([[Util::showperc([[chunk.getProgress()]], [[chunk.getLength()]])]]%)
          {{ENDIF}}
        </td>
        <td class='num'>
          [[Util::showperc([[chunk.getRprogress()]], 10000)]]%
        </td>
        <td>
          <a href='tasks.php?id=[[chunk.getTaskId()]]'>[[chunk.getTaskId()]]</a> <!-- TODO: put here task name -->
        </td>
        <td>
          {{IF [[chunk.getDispatchTime()]] == 0}}
            (no activity)
          {{ELSE}}
            [[date([[config.getVal(DConfig::TIME_FORMAT)]], [[chunk.getDispatchTime()]])]]
          {{ENDIF}}
        </td>
        <td>
          {{IF [[chunk.getSolveTime()]] == 0}}
            (no activity)
            </td>
            <td>
          {{ELSE}}
              [[date([[config.getVal(DConfig::TIME_FORMAT)]], [[chunk.getSolveTime()]])]]
            </td>
            <td class='num'>
              [[Util::sectotime(0)]] <!--TODO: get spent time on chunk-->
          {{ENDIF}}
        </td>
        <td>
          [[Util::getStaticArray([[chunk.getState()]], 'states')]]
        </td>
        <td>
          {{IF [[chunk.getCracked()]] > 0}}
            <a href="hashes.php?chunk=[[chunk.getId()]]">[[chunk.getCracked()]]</a>
          {{ENDIF}}
        </td>
      </tr>
    {{ENDFOREACH}}
  </table>
</div>
{%TEMPLATE->struct/foot%}
