{%TEMPLATE->struct/head%}
{%TEMPLATE->struct/menu%}
<h2>Edit File</h2>
{%TEMPLATE->struct/messages%}
<form action="files.php?view=[[view]]" method="post">
  <input type="hidden" name="action" value="edit">
  <input type="hidden" name="fileId" value="[[file.getId()]]">
  <div class="panel panel-default">
    <table class="table table-bordered table-nonfluid">
      <tr>
        <th>ID</th>
        <td>[[file.getId()]]</td>
      </tr>
      <tr>
        <th>Name</th>
        <td>
          <input type="text" name="filename" value="[[file.getFilename()]]" class="form-control">
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <button type="submit" class="btn btn-success">Save</button>
        </td>
      </tr>
    </table>
  </div>
</form>
{%TEMPLATE->struct/foot%}
