{%TEMPLATE->struct/head%}
{%TEMPLATE->struct/menu%}
<h2>Files</h2>
<script>
	function addLine(tablename) { 
		var table = document.getElementById(tablename); 
		var pos = table.getElementsByTagName('tr').length-1; 
		var row = table.insertRow(pos); 
		var cell = row.insertCell(0); 
		cell.innerHTML= '<input type="file" class="form-control" name="upfile[]"><br>'; 
	}
</script>
{%TEMPLATE->struct/messages%}
<div class='col-md-8' style='padding: 0px; padding-right: 5px;'>
	<div class='btn-toolbar'>
		<div class='btn-group'>
			<button class='btn btn-default{{IF [[view]] == "rule"}} active{{ENDIF}}' onclick="window.location='files.php?view=rule'">Rules</button>
			<button class='btn btn-default{{IF [[view]] == "dict"}} active{{ENDIF}}' onclick="window.location='files.php?view=dict'">Wordlists</button>
		</div>
	</div>
	<h3>Existing [[fileType]] ([[sizeof([[files]])]])</h3>
	<div class="panel panel-default">
		<table class="table table-bordered table-nonfluid">
			<tr>
				<th>ID</th>
				<th>File</th>
				<th><img src="static/lock.gif" alt="Secret"></th>
				<th style="text-align: right">Size</th>
				<th>Action</th>
			</tr>
			{{FOREACH file;[[files]]}}
				<tr>
					<td>[[file.getId()]]</td>
					<td>
						<a name="[[file.getId()]]" href="get.php?file=[[file.getId()]]" target="_blank">[[file.getFilename()]]</a>
						{{IF [[file.getSecret()]] == '1'}}
							<img src="static/lock.gif" alt="Secret">
						{{ENDIF}}
					</td>
					<td>
						{{IF [[login.getLevel()]] >= 30}}
							<form id="secret[[file.getId()]]" action="files.php?view=[[view]]" method="POST">
								<input type="hidden" name="file" value="[[file.getId()]]">
								<input type="hidden" name="action" value="filesecret">
								<input type='hidden' name="secret" value="{{IF [[file.getSecret()]] == '0'}}1 {{ELSE}}0 {{ENDIF}}">
								<input type="checkbox" onChange="javascript:document.getElementById('secret[[file.getId()]]').submit();"{{IF [[file.getSecret()]] == '1'}} checked{{ENDIF}}>
							</form>
						{{ELSE}}
							<input type='checkbox'{{IF [[file.getSecret()]] == 1}} checked{{ENDIF}} disabled>
						{{ENDIF}}
					</td>
					<td class='num'>
						[[Util::nicenum([[file.getSize()]])]]B
					</td>
					<td>
						{{IF [[login.getLevel()]] >= 30}}
							<form action="files.php?view=[[view]]" method="POST" onSubmit="if (!confirm('Really delete file [[file.getFilename()]]?')) return false;">
								<input type="hidden" name="action" value="filedelete">
								<input type="hidden" name="file" value="[[file.getId()]]">
								<input type="submit" class='btn btn-danger' value="Delete">
							</form>
						{{ENDIF}}
					</td>
				</tr>
			{{ENDFOREACH}}
		</table>
	</div>
</div>
<div class='col-md-4' style='padding: 0px;'>
	<h3>Add new [[fileType]]</h3>
	<form action="files.php?view=[[view]]" method="POST" enctype="multipart/form-data">
		<input type="hidden" name="source" value="upload">
		<input type="hidden" name="action" value="addfile">
		<div class="panel panel-default">
			<table class="table table-bordered table-nonfluid" id='upfiles'>
				<tr>
					<th>
						Upload files 
						<button type="button" class='btn btn-default' onclick="javascript:addLine('upfiles');">Add file</button>
					</th>
				</tr>
				<tr>
					<td>
						<input type="submit" class='btn btn-default' value="Upload files">
					</td>
				</tr>
			</table>
		</div>
	</form>
	<form id="impfiles" action="files.php?view=[[view]]" method="POST" enctype="multipart/form-data">
    	<input type="hidden" name="source" value="import">
    	<input type="hidden" name="action" value="addfile">
      	<div class="panel panel-default">
			<table class="table table-bordered table-nonfluid" id='imfiles'>
				<tr>
					<th>Import files</th>
				</tr>
				{{FOREACH impfile;[[impfiles]]}}
					<tr>
						<td>
							<input type="checkbox" name="imfile[]" value="[[impfile.getVal('file')]]">
							[[impfile.getVal('file')]] ([[Util::nicenum([[impfile.getVal('size')]])]]B)
						</td>
					</tr>
				{{ENDFOREACH}}
				{{IF [[sizeof([[impfiles]])]] == 0}}
					<tr>
						<td>'import' directory is empty.</td>
					</tr>
				{{ELSE}}
					<tr>
						<td>
							<input type="submit" class='btn btn-default' value="Import files"> 
							<input type="checkbox" onChange="javascript:checkAll('impfiles',this.checked);"> Select All
						</td>
					</tr>
				{{ENDIF}}
			</table>
		</div>
	</form>
	<form action="files.php?view=[[view]]" method="POST" enctype="multipart/form-data">
		<input type="hidden" name="action" value="addfile">
      	<input type="hidden" name="source" value="url">
      	<div class="panel panel-default">
			<table class="table table-bordered table-nonfluid" id='upfiles'>
				<tr>
					<td colspan='2'>Download URL</td>
				</tr>
				<tr>
					<td>URL:</td>
					<td>
						<input type="text" class='form-control' name="url">
					</td>
				</tr>
				<tr>
					<td colspan="2">
						<input type="submit" class='btn btn-default' value="Download file">
					</td>
				</tr>
			</table>
		</div>
	</form>
</div>
{%TEMPLATE->struct/foot%}
