{%TEMPLATE->struct/head%}
{%TEMPLATE->struct/menu%}
<h2>About [[$APP_NAME]]</h2>
<div class='alert {{IF [[toggledarkmode]] > 0}}alert-primary{{ELSE}}alert-neutral{{ENDIF}}'>
	[[$APP_NAME]] version <code>[[version]]</code> running on <code>[[host]]</code>.<br>
	{{IF [[gitcommit]] != "not versioned"}}
	[[$APP_NAME]] is running versioned. Updates can be retrieved with <code>git pull</code>. Latest commit:
		<code>[[gitcommit]]</code>.
	{{ENDIF}}
</div>
<div class='alert {{IF [[toggledarkmode]] > 0}}alert-primary{{ELSE}}alert-neutral{{ENDIF}}'>
	Some of the features of [[$APP_NAME]]:<br>
	<ul>
		<li>Easy and comfortable to use</li>
		<li>Accessible from anywhere via web interface</li>
		<li>Server component highly compatible with common web hosting setups</li>
		<li>Unattended agents</li>
		<li>File management for word lists, rules, ...</li>
		<li>Self-updating of both [[$APP_NAME]] and hashcat</li>
		<li>Cracking multiple hashlists of the same hash type as though they were a single hashlist</li>
		<li>Running the same client on Windows, Linux and OS X</li>
		<li>Files and hashes marked as "secret" are only distributed to agents marked as "trusted"</li>
		<li>Many data import and export options</li>
		<li>Rich statistics on hashes and running tasks</li>
		<li>Visual representation of chunk distribution</li>
		<li>Multi-user support</li>
		<li>User permission levels</li>
		<li>Various notification types</li>
		<li>Small and/or CPU-only tasks</li>
		<li>Group assignment for agents and users for fine-grained access control</li>
		<li>Compatible with crackers supporting certain flags</li>
	</ul>
</div>
<div class='alert {{IF [[toggledarkmode]] > 0}}alert-primary{{ELSE}}alert-neutral{{ENDIF}}'>
	Thanks to the following people for helping in various ways to make [[$APP_NAME]] work:<br>
	winxp5421<br>
	blazer<br>
	CynoSure Prime<br>
	curlyboi
</div>
{%TEMPLATE->struct/foot%}
