{%TEMPLATE->struct/head%}
{%TEMPLATE->struct/menu%}
<h2>[[$APP_NAME]] Help</h2>
<h4>Video Tutorials</h4>
<div class='alert {{IF [[toggledarkmode]] > 0}}alert-primary{{ELSE}}alert-neutral{{ENDIF}}'>
  <a href="https://www.youtube.com/watch?v=u1ZDQLFV0Bo" target="_blank">Server Setup</a><br>
  <a href="https://www.youtube.com/watch?v=ZYlbfxzqbSU" target="_blank">Client Setup</a>
</div>
<h4>Wiki help</h4>
<div class='alert {{IF [[toggledarkmode]] > 0}}alert-primary{{ELSE}}alert-neutral{{ENDIF}}'>
  <a href="https://github.com/hashtopolis/server/wiki/Getting-Started" target="_blank">Getting Started</a><br>
  <a href="https://github.com/hashtopolis/server/wiki/Task-Creation-Guidelines" target="_blank">Task Creation Guidelines</a><br>
  <a href="https://github.com/hashtopolis/server/wiki/Frequent-Problems" target="_blank">Frequent Problems</a><br>
</div>
{%TEMPLATE->struct/foot%}
