{{IF !!agent.getVal('owner')!! == !!login.getUserId()!! || !!login.getLevel()!! >= 30}}
	<form class='form-inline' action="agents.php?id=[[agent.getVal('id')]]" method="POST">
		<input type="hidden" name="agent" value="[[agent.getVal('id')]]">
		<input type="hidden" name="action" value="agentwait">
		<input type="text" name="wait" class='form-control' value="[[agent.getVal('wait')]]" size="4"> seconds
		<input type="submit" class='btn btn-default' value="Set">
	</form>
{{ENDIF}}
{{IF !!agent.getVal('owner')!! != !!login.getUserId()!! && !!login.getLevel()!! < 30}}
	<input type="text" name="wait" class='form-control' value="[[agent.getVal('wait')]]" size="4" readonly> seconds
{{ENDIF}}