{{IF !!agent.getVal('owner')!! == !!login.getUserId()!! || !!login.getLevel()!! >= 30}}
	<form class='form-inline' id="active[[agent.getVal('id')]]" action="agents.php?id=[[agent.getVal('id')]]" method="post">
		<input type='hidden' name='action' value='agentrename'>
		<input type="hidden" name="agent" value="[[agent.getVal('id')]]">
		<input type="text" name='name' value="[[agent.getVal('name')]]" class='form-control'>&nbsp;&nbsp;
		<input type='submit' class='btn btn-default' value='Change'>
	</form>
{{ENDIF}}
{{IF !!agent.getVal('owner')!! != !!login.getUserId()!! && !!login.getLevel()!! < 30}}
	<input type="text" name='name' value="[[agent.getVal('name')]]" class='form-control' readonly>
{{ENDIF}}
    	