{%TEMPLATE->install_head%}
<p>
	Welcome to the Hashtopussy Installation Procedure!
</p>
<p>
	To run Hashtopussy you need a running MySQL server. You will be prompted for details during installation,
	keep informations ready to enter.
</p>
<p>
	Are you upgrading an existing Hashtopus installation or do you want a clean new install of Hashtopussy?<br><br>
	<a href='index.php?type=upgrade'><button>Upgrade of Hashtopus</button></a>
	<a href='index.php?type=install'><button>New Installation of Hashtopussy</button></a>
</p>
{%TEMPLATE->install_foot%}