{{FOREACH agent,!!agents!!}}
<tr>
	<td><a href="agents.php?id=[[agent.getVal('id')]]">[[agent.getVal('id')]]</a>
	</td>
	<td><a href="agents.php?id=[[agent.getVal('id')]]">[[agent.getVal('name')]]</a>
		{{IF !!agent.getVal('trusted')!! == 1}} <img src="static/lock.gif"
		alt="Trusted"> {{ENDIF}} {{IF !!agent.getVal('working')!! == 1}}
		<img src="static/active.gif" alt="Active"> {{ENDIF}} {{IF
		!!agent.getVal('active')!! == 0}} <img src="static/pause.gif"
		alt="Paused"> {{ENDIF}}</td>
	<td>
		<form style='float: left; padding-right: 5px;' class='form-inline'
			action="tasks.php?id=[[task.getVal('id')]]" method="POST">
			<input type="hidden" name="return" value="agentbench"> <input
				type="hidden" name="agent" value="[[agent.getVal('id')]]"> <input
				type="text" class='form-control' name="bench"
				value="[[agent.getVal('benchmark')]]" size="8"> <input
				type="submit" class='btn btn-default' value="Set">
		</form>
		<form id="auto[[agent.getVal('id')]]"
			action="tasks.php?id=[[task.getVal('id')]]" method="POST">
			<input type="hidden" name="action" value="agentauto"> <input
				type="hidden" name="agent" value="[[agent.getVal('id')]]"> <input
				type="checkbox" name="auto" value="1"
				{{IF !!agent.getVal('autoadjust')!! ==
				1}} checked{{ENDIF}}
				onChange="javascript:document.getElementById('auto[[agent.getVal('id')]]').submit();">
			Auto
		</form>
	</td>
	<td class="num">{{IF !!agent.getVal('working')!! == 1}}
		[[Util::nicenum(%%agent.getVal('speed')%%, 100000, 1000)]]H/s
		{{ENDIF}}</td>
	<td class="num">{{IF !!task.getVal('keyspace')!! > 0}}
		[[agent.getVal('searched')]]
		([[Util::showperc(%%agent.getVal('searched')%%,
		%%task.getVal('keyspace')%%)]]%) {{ENDIF}}</td>
	<td class="num">[[Util::sectotime(%%agent.getVal('spent')%%)]]</td>
	<td class="num">[[agent.getVal('cracked')]]</td>
	<td>{{IF !!agent.getVal('time')!! > 0}}
		[[date(%%config.getVal('timefmt')%%, %%agent.getVal('time')%%)]]
		{{ENDIF}}</td>
	<td>
		<form action="agents.php?task=[[task.getVal('id')]]" method="POST">
			<input type="hidden" name="action" value="agentassign"> <input
				type="hidden" name="agent" value="[[agent.getVal('id')]]"> <input
				type="hidden" name="task" value=""> <input type="submit"
				class='btn btn-default' value="Unassign">
		</form>
	</td>
</tr>
{{ENDFOREACH}}
