{%TEMPLATE->struct/head%}
{%TEMPLATE->struct/menu%}
<h2>Hashlist details</h2>
{%TEMPLATE->struct/messages%}
{{IF [[zap]]}}
  {%TEMPLATE->hashlists/zap%}
{{ENDIF}}
<div class="panel panel-default">
  <table class="table table-bordered table-nonfluid">
    <tr>
      <th>Property</th>
      <th>Value</th>
    </tr>
    <tr>
      <td>ID:</td>
      <td>[[list.getVal('hashlist')->getId()]]</td>
    </tr>
    <tr>
      <td>Name:</td>
      <td>
        {{IF [[login.getLevel()]] >= 20}}
          <form class='form-inline' action="hashlists.php?id=[[list.getVal('hashlist')->getId()]]" method="POST">
            <input type="hidden" name="action" value="[[$DHashlistAction::RENAME_HASHLIST]]">
            <input type="hidden" name="hashlist" value="[[list.getVal('hashlist')->getId()]]">
            <input type="text" class='form-control' name="name" size="20" value="[[list.getVal('hashlist')->getHashlistName()]]">
            <input type="submit" class='btn btn-default' value="Change">
          </form>
        {{ELSE}}
          [[list.getVal('hashlist')->getHashlistName()]]
        {{ENDIF}}
      </td>
    </tr>
    <tr>
      <td>Hash type:</td>
      <td>
        [[list.getVal('hashtype')->getDescription()]]
      </td>
    </tr>
    <tr>
      <td>Format:</td>
      <td>
        [[Util::getStaticArray([[list.getVal('hashlist')->getFormat()]], 'formats')]]
        {{IF [[list.getVal('hashlist')->getHexSalt()]] == 1}}
          (salt in hex-format)
        {{ENDIF}}
      </td>
    </tr>
    <tr>
      <td>Hashes:</td>
      <td>
        <a href="hashes.php?hashlist=[[list.getVal('hashlist')->getId()]]">[[list.getVal('hashlist')->getHashCount()]]</a>
      </td>
    </tr>
    <tr>
      <td>Cracked:</td>
      <td>
        <a href="hashes.php?hashlist=[[list.getVal('hashlist')->getId()]]&filter=cracked">[[list.getVal('hashlist')->getCracked()]]</a>
        ([[Util::showperc([[list.getVal('hashlist')->getCracked()]], [[list.getVal('hashlist')->getHashCount()]])]]%)
      </td>
    </tr>
    <tr>
      <td>Remaining:</td>
      <td>
        <a href="hashes.php?hashlist=[[list.getVal('hashlist')->getId()]]&filter=uncracked">[[Util::subtract([[list.getVal('hashlist')->getHashCount()]], [[list.getVal('hashlist')->getCracked()]])]]</a>
        ([[Util::showperc([[list.getVal('hashlist')->getHashCount()]] - [[list.getVal('hashlist')->getCracked()]], [[list.getVal('hashlist')->getHashCount()]])]]%)
      </td>
    </tr>
    <tr>
      <td>Secret:</td>
      <td>
        {{IF [[login.getLevel()]] >= 30}}
          <form id="hashlistsecret" action="hashlists.php?id=[[list.getVal('hashlist')->getId()]]" method="POST">
            <input type="hidden" name="hashlist" value="[[list.getVal('hashlist')->getId()]]">
            <input type="hidden" name="action" value="[[$DHashlistAction::SET_SECRET]]">
            <input type="checkbox" name="secret" value="1"{{IF [[list.getVal('hashlist')->getSecret()]] == 1}} checked{{ENDIF}}
            onChange="javascript:document.getElementById('hashlistsecret').submit();"> Hashlist contains secret data
          </form>
        {{ENDIF}}
        {{IF [[login.getLevel()]] < 30}}
          <input type='checkbox'{{IF [[list.getVal('hashlist')->getSecret()]] == 1}} checked{{ENDIF}} disabled> Hashlist contains secret data
        {{ENDIF}}
      </td>
    </tr>
    <tr>
      <td>Actions:</td>
      <td>
        {{IF [[list.getVal('hashlist')->getCracked()]] > 0 && [[login.getLevel()]] >= 20}}
          <form style='float: left; padding-right: 5px;' action="hashlists.php?id=[[list.getVal('hashlist')->getId()]]" method='post'>
            <input type='hidden' name='action' value='[[$DHashlistAction::CREATE_WORDLIST]]'>
            <input type='hidden' name='hashlist' value="[[list.getVal('hashlist')->getId()]]">
            <input type='submit' class='btn btn-default' value='Generate wordlist'>
          </form>
          <form style='float: left; padding-right: 5px;' action="hashlists.php?id=[[list.getVal('hashlist')->getId()]]" method='post'>
            <input type='hidden' name='action' value='[[$DHashlistAction::EXPORT_HASHLIST]]'>
            <input type='hidden' name='hashlist' value="[[list.getVal('hashlist')->getId()]]">
            <input type='submit' class='btn btn-default' value='Export hashes for pre-crack'>
          </form>
          <form style='float: left; padding-right: 5px;' action="hashlists.php?id=[[list.getVal('hashlist')->getId()]]" method='post'>
            <input type='hidden' name='action' value='[[$DHashlistAction::CREATE_LEFTLIST]]'>
            <input type='hidden' name='hashlist' value="[[list.getVal('hashlist')->getId()]]">
            <input type='submit' class='btn btn-default' value='Export left hashes'>
          </form>
        {{ENDIF}}
        {{IF [[list.getVal('hashlist')->getCracked()]] < [[list.getVal('hashlist')->getHashCount()]] && [[login.getLevel()]] >= 20}}
          <form style='float: left;' action="hashlists.php?id=[[list.getVal('hashlist')->getId()]]" method='post'>
          <input type='hidden' name='action' value='[[$DHashlistAction::ZAP_HASHLIST]]'>
          <input type='hidden' name='hashlist' value="[[list.getVal('hashlist')->getId()]]">
          <input type='submit' class='btn btn-default' value='Import pre-cracked hashes'>
          </form>
        {{ENDIF}}
      </td>
    </tr>
  </table>
</div>
{{IF [[list.getVal('hashlist')->getFormat()]] == 3 && [[sizeof([[sublists]])]]}}
  {%TEMPLATE->hashlists/detail/superhashlist%}
{{ENDIF}}
{{IF [[sizeof([[tasks]])]] > 0}}
  {%TEMPLATE->hashlists/detail/tasks%}
{{ENDIF}}
{{IF [[sizeof([[preTasks]])]] > 0}}
  {%TEMPLATE->hashlists/detail/pretasks%}
{{ENDIF}}
{%TEMPLATE->struct/foot%}
