@CHARSET "UTF-8";

body {
	padding-top: 20px;
	padding-bottom: 20px;
}

.navbar {
	margin-bottom: 20px;
}

.footer {
	text-align: center;
}

.alert-neutral {
	overflow: auto;
	background-color: #EEEEEE;
	color: #000000;
	border-color: #CCCCCC;
	padding-top: 10px;
}

td.num {
  text-align: right;
}

.table td, .table th {
    padding: .5rem;
}

.hiddenRow {
	padding: 0 !important;
}

.card {
    border: none !important;
}

td {
    vertical-align: middle !important;
}

.btn-light {
    border-color: #c3c3c3;
}

tr {
    height: 25px;
}

.popover {
    max-width: 50%;
}

@media (min-width: 992px) {
    .modal-lg {
        width: 900px;
    }
}