name: PHPStan

on:
  push:
    branches:
    - master
    - dev
  pull_request:
    branches:
    - master
    - dev

jobs:
  build:
    runs-on: ubuntu-latest

  steps:
    - name: Checkout code
      uses: actions/checkout@v6

    - name: Set up PHP
      uses: shivammathur/setup-php@v2
      with:
        php-version: '8.5'
        tools: composer
        coverage: none

    - name: Install dependencies
      run: composer install --no-interaction --no-progress --prefer-dist
    
    - name: Run PHPStan
      run: vendor/bin/phpstan analyse